{% extends "fallout/base.html" %}
{% load i18n %}

{% block navbar %}
    {% with campaign=character.campaign %}
        {% include "fallout/navbar.html" %}
    {% endwith %}
{% endblock %}

{% block actions %}
    <a class="dropdown-item" href="{% url 'admin:fallout_character_add' %}?campaign={{ character.campaign_id }}">{% trans "Ajouter" %}</a>
    {% if character %}
        <a class="dropdown-item" href="{% url 'admin:fallout_character_change' character.id %}">{% trans "Modifier" %}</a>
    {% endif %}
{% endblock %}

{% block content %}
    {% if character %}
        <div class="content">
            <h3 class="display-4">
                {{ character.name }}
                {% if character.title %}<small class="text-muted">{{ character.title }}</small>{% endif %}
            </h3>
            <p class="lead">
                {% if character.campaign.current_character == character %}
                    <span class="badge badge-success">{% trans "Actif" %}</span>
                {% endif %}
                {% if not character.is_player %}
                    <span class="badge badge-info">{% trans "PNJ" %}</span>
                {% endif %}
                <span class="font-weight-bold">{% trans "Niveau" %} {{ character.level }}</span>
                {% if character.description %} {{ character.description }}{% endif %}
            </p>
        </div>
        <div role="tabpanel" id="tabs">
            <ul class="nav nav-tabs nav-justified tab" id="character-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" role="tab"
                       href="#character-stats" id="character-stats-tab">{% trans "Personnage" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" role="tab"
                       href="#character-items" id="character-items-tab">{% trans "Inventaire" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" role="tab"
                       href="#character-effects" id="character-effects-tab">{% trans "Effets" %}</a>
                </li>
                {% if authorized %}
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" role="tab"
                           href="#character-actions" id="character-actions-tab">{% trans "Actions" %}</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" role="tab"
                       href="#character-infos" id="character-infos-tab">{% trans "Statistiques" %}</a>
                </li>
            </ul>
            <div class="tab-content">
                {% include "fallout/character/panels/stats.html" %}
                {% include "fallout/character/panels/items.html" %}
                {% include "fallout/character/panels/effects.html" %}
                {% include "fallout/character/panels/actions.html" %}
                {% include "fallout/character/panels/infos.html" %}
            </div>
        </div>
    {% endif %}
{% endblock %}
