Django==4.1.5
Pillow==9.4.0
celery[redis]==5.2.7
coreapi==2.3.3
common-framework==2023.1.1
dj-database-url==1.2.0
django-compressor==4.3
django-configurations==2.4
django-cors-headers==3.13.0
django-debug-toolbar==3.8.1
django-modeltranslation==0.18.7
django-multiselectfield==0.1.12
django-redis==5.2.0
django-stubs==1.13.2
djangorestframework==3.14.0
djangorestframework-xml==2.0.0
djangorestframework-simplejwt==5.2.2
flake8==6.0.0
ipython==8.8.0
markdown2==2.4.6
mypy==0.991
psycopg2-binary==2.9.5
pytest==7.2.1
pytest-cov==4.0.0
pytest-django==4.5.2
pytest-env==0.8.1
python-dateutil==2.8.2
pytz==2022.7.1
redis==4.4.2
requests==2.28.2
setuptools==66.1.1
wheel==0.38.4
