Django==1.11.5
Pillow==4.2.1
common-framework==2017.9.13
coverage==4.4.1
django-cors-headers==2.1.0
django-debug-toolbar==1.8
django-multiselectfield==0.1.8
djangorestframework==3.6.4
flake8==3.2.1
python-dateutil==2.6.1
pip==9.0.1
pytz==2017.2
requests==2.18.4
setuptools==36.4.0
wheel==0.29.0
