Django==4.2.5
Pillow==10.0.1
celery[redis]==5.3.4
coreapi==2.3.3
common-framework==2023.9.1
dj-database-url==2.1.0
django-compressor==4.4
django-configurations==2.4.1
django-cors-headers==4.2.0
django-debug-toolbar==4.2.0
django-modeltranslation==0.18.11
django-multiselectfield==0.1.12
django-redis==5.3.0
django-stubs==4.2.4
djangorestframework==3.14.0
djangorestframework-xml==2.0.0
djangorestframework-simplejwt==5.3.0
flake8==6.1.0
ipython==8.15.0
markdown2==2.4.10
mypy==1.5.1
psycopg[c]==3.1.10
pytest==7.4.2
pytest-cov==4.1.0
pytest-django==4.5.2
pytest-env==1.0.1
python-dateutil==2.8.2
pytz==2023.3.post1
redis==5.0.0
requests==2.31.0
setuptools==68.2.2
wheel==0.41.2
