
body {
    padding-top: 5rem;
}

/* Inputs */
.itiny {
    width: 4em !important;
    display: inline-block;
}
.ismall {
    width: 5em !important;
    display: inline-block;
}
.imedium {
    width: 6em !important;
    display: inline-block;
}

/* Panels */
.tab-pane {
    padding-top: 1em;
}

/* Tableaux */
.table tr {
    height: 2.5em;
}
.table td {
    vertical-align:bottom!important;
}

/* Thumbnail images */
.thumbnail {
    background-color: black;
    height: 200px;
}
