{% load i18n %}

<div class="tab-pane fade" role="tabpanel" id="character-effects">
    <div id="character-effects-form" class="collapse-form collapse show">
        {% if authorized %}
            <form method="post" action="{{ request.path }}" class="form-inline justify-content-center">
                <div class="form-row align-items-center">
                    <div class="col-auto">
                        <label class="sr-only" for="effect-name">{% trans "Effet" %}</label>
                        <input type="text" class="form-control" id="effect-name"
                               name="effect-name" data-for="effect-id" placeholder="{% trans "Effet" %}">
                        <input type="hidden" id="effect-id" name="effect-id" />
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary"
                                name="method" value="add" >{% trans "Affecter" %}</button>
                        <input type="hidden" name="type" value="effect" />
                        {% csrf_token %}
                    </div>
                </div>
            </form>
            <hr />
        {% endif %}
    </div>
    {% if campaign_effects %}
        <h4 class="text-center mb-3">{% trans "Général" %}</h4>
        {% with effects=campaign_effects scope='campaign' %}
            {% include "fallout/character/forms/effects.html" %}
        {% endwith %}
        <hr />
    {% endif %}
    <h4 class="text-center mb-3">{% trans "Personnage" %}</h4>
    {% with effects=character_effects scope='character' %}
        {% include "fallout/character/forms/effects.html" %}
    {% endwith %}
</div>
