{% load i18n %}

<div class="tab-pane fade" role="tabpanel" id="character-effects">
    <div id="character-effects-form" class="collapse-form collapse show">
        {% if authorized %}
            {% if all_effects %}
            <form method="post" action="{{ request.path }}" class="form-inline justify-content-center">
                <div class="form-row align-items-center">
                    <div class="col-auto text-nowrap font-weight-bold">
                        {% trans "Affecter un effet :" %}
                    </div>
                    <div class="col-auto">
                        <label class="sr-only" for="effect-id">{% trans "Effet" %}</label>
                        <select id="effect-id" name="effect-id" class="form-control form-control-sm select2"
                                data-placeholder="{% trans "Effets" %}">
                            <option></option>
                            {% for effect in all_effects %}
                                <option value="{{ effect.id }}">
                                    {{ effect.name }}{% if effect.title %} ({{ effect.title }}){% endif %}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-sm btn-primary"
                                name="method" value="add" >{% trans "Affecter" %}</button>
                        <input type="hidden" name="type" value="effect" />
                        {% csrf_token %}
                    </div>
                </div>
            </form>
            <hr class="mt-1 mb-3" />
            {% endif %}
        {% endif %}
    </div>
    {% if authorized and perks %}
        <div class="border border-secondary rounded p-2">
            <h4 class="text-center mb-3">{% trans "Talents activables" %}</h4>
            {% with effects=perks scope='perk' %}
                {% include "fallout/character/forms/effects.html" %}
            {% endwith %}
        </div>
        <hr />
    {% endif %}
    {% if campaign_effects %}
        <div class="border border-secondary rounded p-2">
            <h4 class="text-center mb-3">{% trans "Effets globaux" %}</h4>
            {% with effects=campaign_effects scope='campaign' %}
                {% include "fallout/character/forms/effects.html" %}
            {% endwith %}
        </div>
        <hr />
    {% endif %}
    {% if character_effects %}
    <div class="border border-secondary rounded p-2">
        <h4 class="text-center mb-3">{% trans "Effets de personnage" %}</h4>
        {% with effects=character_effects scope='character' %}
            {% include "fallout/character/forms/effects.html" %}
        {% endwith %}
    </div>
    {% endif %}
</div>
