{% load i18n l10n %}

<div class="tab-pane fade" role="tabpanel" id="character-infos">
    <div class="row">
        {% for fight in fightstats %}
            <div class="col-lg-6 col-md-12 p-2">
                <h6>
                    <span>
                        {% if fight.is_attacker %}
                            {% trans "Attaques données" %}
                        {% else %}
                            {% trans "Attaques reçues" %}
                        {% endif %}
                    </span>
                    <small class="text-muted">
                        {% if fight.total_count %}
                            {% blocktrans with count=fight.total_count rate=fight.success_rate damage=fight.damage_rate %}
({{ count }} attaques pour {{ rate }}% de succès et {{ damage }} dégâts infligés en moyenne)
                            {% endblocktrans %}
                        {% else %}
                            {% trans "(aucune attaque)" %}
                        {% endif %}
                    </small>
                </h6>
                <div class="progress">
                    {% for value, width, class, label in fight.all %}
                        {% if value %}
                            <div class="progress-bar bg-{{ class }} text-light" role="progressbar"
                                 aria-valuenow="{{ value }}" aria-valuemin="0" aria-valuemax="{{ roll.count }}"
                                 style="width: {{ width }}%" data-toggle="tooltip" data-placement="top"
                                 title="{{ label }} ({% trans "total" %})">
                                {{ value }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                {% if character.is_player and character.level > 2 %}
                <div class="progress mt-1">
                    {% for value, width, class, label in fight.previous_stats %}
                        {% if value %}
                            <div class="progress-bar bg-{{ class }} text-light" role="progressbar"
                                 aria-valuenow="{{ value }}" aria-valuemin="0" aria-valuemax="{{ fight.previous_total }}"
                                 style="width: {{ width }}%" data-toggle="tooltip" data-placement="top"
                                 title="{{ label }} ({% trans "niveau précédent" %})">
                                {{ value }}
                            </div>
                        {% endif %}
                    {% empty %}
                        <div class="progress-bar" role="progressbar" style="width: 100%">
                            {% trans "niveau précédent" %}
                        </div>
                    {% endfor %}
                </div>
                {% endif %}
                {% if character.is_player and character.level > 1 %}
                <div class="progress mt-1">
                    {% for value, width, class, label in fight.current_stats %}
                        {% if value %}
                            <div class="progress-bar bg-{{ class }} text-light" role="progressbar"
                                 aria-valuenow="{{ value }}" aria-valuemin="0" aria-valuemax="{{ fight.current_total }}"
                                 style="width: {{ width }}%" data-toggle="tooltip" data-placement="top"
                                 title="{{ label }} ({% trans "niveau actuel" %})">
                                {{ value }}
                            </div>
                        {% endif %}
                    {% empty %}
                        <div class="progress-bar" role="progressbar" style="width: 100%">
                            {% trans "niveau actuel" %}
                        </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <hr />
    <div class="row">
        {% for roll in rollstats %}
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 p-2">
                <h6>
                    <span>{{ roll.label|capfirst }}</span>
                    <small class="text-muted">
                        {% if roll.total_count %}
                            {% blocktrans with count=roll.total_count rate=roll.success_rate %}
({{ count }} jets pour {{ rate }}% de succès)
                            {% endblocktrans %}
                        {% else %}
                            {% trans "(aucun jet)" %}
                        {% endif %}
                    </small>
                </h6>
                <div class="progress">
                    {% for value, width, class, label in roll.all %}
                        {% if value %}
                            <div class="progress-bar bg-{{ class }} text-light" role="progressbar"
                                 aria-valuenow="{{ value }}" aria-valuemin="0" aria-valuemax="{{ roll.count }}"
                                 style="width: {{ width }}%" data-toggle="tooltip" data-placement="bottom"
                                 title="{{ label }} ({% trans "total" %})">
                                {{ value }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                {% if character.is_player and character.level > 2 %}
                <div class="progress mt-1">
                    {% for value, width, class, label in roll.previous_stats %}
                        {% if value %}
                            <div class="progress-bar bg-{{ class }} text-light" role="progressbar"
                                 aria-valuenow="{{ value }}" aria-valuemin="0" aria-valuemax="{{ roll.previous_total }}"
                                 style="width: {{ width }}%" data-toggle="tooltip" data-placement="bottom"
                                 title="{{ label }} ({% trans "niveau précédent" %})">
                                {{ value }}
                            </div>
                        {% endif %}
                    {% empty %}
                        <div class="progress-bar" role="progressbar" style="width: 100%">
                            {% trans "niveau précédent" %}
                        </div>
                    {% endfor %}
                </div>
                {% endif %}
                {% if character.is_player and character.level > 1 %}
                <div class="progress mt-1">
                    {% for value, width, class, label in roll.current_stats %}
                        {% if value %}
                            <div class="progress-bar bg-{{ class }} text-light" role="progressbar"
                                 aria-valuenow="{{ value }}" aria-valuemin="0" aria-valuemax="{{ roll.current_total }}"
                                 style="width: {{ width }}%" data-toggle="tooltip" data-placement="bottom"
                                 title="{{ label }} ({% trans "niveau actuel" %})">
                                {{ value }}
                            </div>
                        {% endif %}
                    {% empty %}
                        <div class="progress-bar" role="progressbar" style="width: 100%">
                            {% trans "niveau actuel" %}
                        </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            {% if forloop.counter == 7 %}
                </div><hr /><div class="row">
            {% endif %}
        {% endfor %}
    </div>

</div>
