{% load i18n l10n %}

<div class="tab-pane fade" role="tabpanel" id="character-infos">
    <div class="row">
        {% for roll in rollstats %}
            <div class="col-3 p-2">
                <h6>
                    {{ roll.label|capfirst }}
                    <small class="text-muted">
                        {% if roll.count %}
                            {% blocktrans with count=roll.count rate=roll.success_rate %}
                                ({{ count }} jets pour {{ rate }}% de succès)
                            {% endblocktrans %}
                        {% else %}
                            {% trans "(aucun jet)" %}
                        {% endif %}
                    </small>
                </h6>
                <div class="progress">
                    <div class="progress-bar"></div>
                    {% for value, width, class in roll.all %}
                        {% if value %}
                            {% localize off %}
                            <div class="progress-bar bg-{{ class }}" role="progressbar"
                                 aria-valuenow="{{ value }}" aria-valuemin="0" aria-valuemax="{{ roll.count }}"
                                 style="width: {{ width }}%">
                            {% endlocalize %}
                                {{ value }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% if forloop.counter == 7 %}
            <div class="w-100"><hr /></div>
            {% endif %}
        {% endfor %}
    </div>
</div>
