{% extends "fallout/base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block navbar %}
    {% include "fallout/navbar.html" %}
{% endblock %}

{% block actions %}
    <a class="dropdown-item" href="{% url 'admin:fallout_campaign_add' %}">{% trans "Ajouter une campagne" %}</a>
    {% if campaign %}
    <a class="dropdown-item" href="{% url 'admin:fallout_campaign_change' campaign.id %}">{% trans "Modifier la campagne" %}</a>
    {% endif %}
    <a class="dropdown-item" href="{% url 'admin:fallout_character_add' %}?campaign={{ campaign.id }}">{% trans "Ajouter un personnage" %}</a>
{% endblock %}

{% block content %}
    {% if authorized %}
        <button class="btn btn-sm btn-primary float-right" data-toggle="collapse" type="button" aria-expanded="true"
                data-target=".collapse-form" aria-controls="campaign-infos-form campaign-effects-form campaign-loots-form">&#x1F441;</button>
    {% endif %}
    {% if campaign %}
        <div class="content">
            {% with image=campaign.image thumbnail=campaign.thumbnail %}
                {% if thumbnail %}
                    <img class="float-left rounded mr-2" height="120" width="120" src="{{ MEDIA_URL }}{{ thumbnail }}">
                {% elif image %}
                    <img class="float-left rounded mr-2" height="120" width="120" src="{{ image.url }}">
                {% endif %}
            {% endwith %}
            <h4 class="display-4">
                {{ campaign.name }}
                {% if campaign.title %}<small class="text-muted">{{ campaign.title }}</small>{% endif %}
            </h4>
            {% if campaign.description %}<p class="lead">{{ campaign.description|safe }}</p>{% endif %}
        </div>
    {% else %}
        <div class="container">
            <h4 class="display-4">
                {% trans "Aucune campagne" %}
            </h4>
            <p class="lead">
                {% blocktrans %}
Vous êtes actuellement sur la réserve de personnages qui ne sont associés à aucune campagne
particulière ainsi la plupart des actions liées à une campagne (comme la gestion du temps et les
effets) sont désactivés.
                {% endblocktrans %}
            </p>
        </div>
    {% endif %}
    <div role="tabpanel" id="tabs" class="pt-2">
        <ul class="nav nav-tabs nav-fill nav-justified tab" id="actions-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" role="tab"
                   id="campaign-infos-tab" href="#campaign-infos">{% trans "Campagne" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" role="tab"
                   id="campaign-loots-tab" href="#campaign-loots">{% trans "Butins" %}</a>
            </li>
            {% if campaign %}
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" role="tab"
                       id="campaign-effects-tab" href="#campaign-effects">{% trans "Effets" %}</a>
                </li>
                {% if authorized or campaign.view_rolls %}
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" role="tab"
                           id="campaign-rolls-tab" href="#campaign-rolls">{% trans "Jets" %}</a>
                    </li>
                {% endif %}
            {% endif %}
        </ul>
        <div class="tab-content">
            {% include "fallout/campaign/panels/infos.html" %}
            {% include "fallout/campaign/panels/loots.html" %}
            {% if campaign %}
                {% include "fallout/campaign/panels/effects.html" %}
                {% if authorized or campaign.view_rolls %}
                    <div class="tab-pane fade" role="tabpanel" id="campaign-rolls"></div>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
{% if campaign %}
{% if authorized or campaign.view_rolls %}
<script type="application/javascript">
$(function() {
    let update_rolls = function () {
        let url = Django.url('fallout:campaign_rolls', {{ campaign.pk }});
        $.get(url, function (data) {
            $('#campaign-rolls').html(data);
        });
    };
    update_rolls();
    setInterval(update_rolls, 5000);
})
</script>
{% endif %}
{% endif %}
{% endblock %}
