{% extends "fallout/base.html" %}
{% load i18n l10n tools custom %}
{% get_current_language as LANGUAGE_CODE %}

{% block navbar %}
    {% include "fallout/navbar.html" %}
{% endblock %}

{% block actions %}
    <a class="dropdown-item" href="{% url 'admin:fallout_campaign_add' %}">{% trans "Ajouter une campagne" %}</a>
    {% if campaign %}
    <a class="dropdown-item" href="{% url 'admin:fallout_campaign_change' campaign.id %}">{% trans "Modifier la campagne" %}</a>
    {% endif %}
    <a class="dropdown-item" href="{% url 'admin:fallout_character_add' %}?campaign={{ campaign.id }}">{% trans "Ajouter un personnage" %}</a>
{% endblock %}

{% block content %}
    <div>
        <input type="range" class="range custom-range" min="-100" max="100" step="10" value="{{ request.POST.modifier|default:0 }}" id="modifier">
    </div>
    <div class="card-deck">
        {% for character in characters %}
            {% if character.is_player %}
            <div class="card">
                <div class="card-header">
                    <span class="card-title"><a href="{% url 'fallout:character' character.id %}">{{ character.name }}</a></span>
                    {% if character.title %}<small class="card-subtitle mb-2 text-muted">{{ character.title }}</small>{% endif %}
                    <div class="float-right">
                        {% if character.is_player %}
                            <small class="badge badge-success align-middle">{% trans "PJ" %}</small>
                        {% else %}
                            <small class="badge badge-warning align-middle">{% trans "PNJ" %}</small>
                        {% endif %}
                        <small class="badge badge-light align-middle">{% trans "Niveau" %} {{ character.level }}</small>
                        {% if character.health == 0 %}
                            <small class="badge badge-danger align-middle">{% trans "KO" %}</small>
                        {% elif campaign.current_character == character %}
                            <small class="badge badge-info align-middle">{% trans "Actif" %}</small>
                        {% endif %}
                        <form method="post" action="{{ request.path }}" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" name="rest" value="{{ character.id }}"
                                    class="btn btn-sm badge {% if character.is_resting %}badge-info{% else %}badge-secondary{% endif %}">
                                {% trans "Repos" %}
                            </button>
                        </form>
                    </div>
                </div>
                <div class="card-body">
                    {% for s in character.general_stats %}
                        {% with title=character.labels|get:s.code|default:"" %}
                            {% if s.rate is not None and s.code != 'skill_points' %}
                                <strong>{{ s.label }}</strong>
                                <small class="text-muted">{{ s.lvalue|floatformat:0 }} / {{ s.rvalue|floatformat:0 }}</small>
                                <div class="progress">
                                    {% localize off %}
                                    <div class="progress-bar progress-bar-striped bg-{{ s.css }} text-light" role="progressbar"
                                         aria-valuenow="{{ s.lvalue }}" aria-valuemin="0" aria-valuemax="{{ s.rvalue }}"
                                         style="width: {{ s.rate }}%" {% if s.title %}title="{{ s.title }}"{% endif %}
                                         data-toggle="tooltip" data-placement="top">
                                    {% endlocalize %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endwith %}
                    {% endfor %}
                </div>
                <div class="card-body">
                    {% include 'fallout/character/forms/stats.html' with character=character stats=character.special levelup=0 code="special" %}
                    {% include 'fallout/character/forms/stats.html' with character=character stats=character.skills levelup=0 code="skill" %}
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block style %}
<style type="text/css">
    .popover .arrow {
        display: none;
    }
</style>
{% endblock %}

{% block scripts %}
<script type="application/javascript">
$(function() {
    let show_popover = function(element) {
        let value = $(element).val();
        let style = (value > 0 ? 'text-success' : (value < 0 ? 'text-danger' : ''));
        let display_value = value > 0 ? '+' + value : value;
        $(element).popover('dispose').popover({
            html: true,
            content: '<strong class="' + style +  '">' + display_value + '%</strong>',
            placement: 'top',
            offset: 'calc(50% + ' + value / 2 + '%)'});
        return value;
    };
    show_popover('.range');
	$('.range').on('input', function() {
	    let value = show_popover(this);
        $('input[type="hidden"][name="modifier"]').val(value);
        $('.stats').each(function(i, e) {
            let button = $(e).parent();
            let special = $(e).data('code') === 'special';
            let modifier = parseInt(special ? (value / 10) : value);
            let new_value = parseInt($(e).data('value')) + modifier;
            let rate = new_value / (special ? 10 : 100);
            $(e).text(new_value);
            button.removeClass('btn-secondary btn-danger btn-warning btn-success btn-info');
            if (rate < 0.2) button.addClass('btn-secondary');
            else if (rate < 0.4) button.addClass('btn-danger');
            else if (rate < 0.6) button.addClass('btn-warning');
            else if (rate < 0.8) button.addClass('btn-success');
            else button.addClass('btn-info');
        });
	}).trigger('input').click();
});
</script>
{% endblock %}