{% load i18n %}

<form method="post" action="{{ request.path }}">
    <table class="table table-sm table-striped">
        <thead class="thead-inverse">
            <tr>
                <th class="text-center" colspan="2">
                    {% if burst %}{% trans "Attaque en rafale" %}{% else %}{% trans "Attaque simple" %}{% endif %}
                </th>
            </tr>
        </thead>
        <tbody>
            {% if burst %}
                {% for character in characters %}
                    <tr class="check-control">
                        <td>
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox"
                                       name="targets" value="{{ character.id }}"
                                       data-target="{{ code }}-attack-range-{{ character.id }}">
                                {{ character.name }}
                            </label>
                        </td>
                        <td class="text-right">
                            <label for="{{ code }}-attack-range-{{ character.id }}">{% trans "distance" %}</label>
                            <input class="form-control form-control-sm tiny" type="number"
                                   name="ranges" value="1" disabled
                                   id="{{ code }}-attack-range-{{ character.id }}" />
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td><label for="{{ code }}-target-list">{% trans "personnage" %}</label></td>
                    <td class="text-right">
                        <select class="form-control form-control-sm" id="{{ code }}-target-list" name="target">
                            {% for character in characters %}
                                <option value="{{ character.id }}">{{ character.name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
            {% endif %}
            {% if not burst %}
                <tr>
                    <td><label for="{{ code }}-bodypart-list">{% trans "cible" %}</label></td>
                    <td class="text-right">
                        <select class="form-control form-control-sm" id="{{ code }}-bodypart-list" name="bodypart">
                            {% for code, label in body_parts %}
                                <option value="{{ code }}">{{ label }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="{{ code }}-attack-range">{% trans "distance" %}</label></td>
                    <td class="text-right">
                        <input id="{{ code }}-attack-range" class="form-control form-control-sm tiny" type="number"
                               name="range" value="1" />
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td><label for="{{ code }}-attack-modifier">{% trans "modificateur" %}</label></td>
                <td class="text-right">
                    <input id="{{ code }}-attack-modifier" class="form-control form-control-sm tiny" type="number"
                           name="modifier" value="0" />
                </td>
            </tr>
        </tbody>
        <tfoot class="thead-inverse">
            <tr>
                <th class="text-right" colspan="2">
                    <button class="btn btn-sm btn-primary" type="submit">{% trans "OK" %}</button>
                </th>
            </tr>
        </tfoot>
    </table>
    {% if not view %}
        <input type="hidden" name="type" value="{% if burst %}burst{% else %}fight{% endif %}" />
        {% csrf_token %}
    {% endif %}
</form>