{% extends "fallout/_base.html" %}
{% load i18n %}

{% block navbar %}
    {% with campaign=character.campaign %}
        {% include "fallout/_navbar.html" %}
    {% endwith %}
{% endblock %}

{% block actions %}
    {% if request.user.is_superuser %}
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                   id="actions-navbar" href="#" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">{% trans "Actions" %}</a>
                <div class="dropdown-menu" aria-labelledby="actions-navbar">
                    <a class="dropdown-item" href="{% url 'admin:fallout_character_add' %}?campaign={{ character.campaign_id }}">
                        {% trans "Ajouter" %}</a>
                    {% if character %}
                        <a class="dropdown-item" href="{% url 'admin:fallout_character_change' character.id %}">
                            {% trans "Modifier" %}</a>
                    {% endif %}
                </div>
            </li>
        </ul>
    {% endif %}
{% endblock %}

{% block content %}
    {% if roll %}
        {% include "fallout/_roll.html" %}
    {% endif %}
    {% if character %}
        <div class="content">
            <h3 class="display-4">
                {{ character.name }}
                {% if character.title %}<small class="text-muted">{{ character.title }}</small>{% endif %}
            </h3>
            <p class="lead">
                <strong>{% trans "Niveau" %} {{ character.level }}</strong>
                {% if character.description %} {{ character.description }}{% endif %}
            </p>
        </div>
        <div role="tabpanel" id="tabs">
            <ul class="nav nav-tabs tab" id="character-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link{% if 'stats' in request.GET %} active{% endif %}" id="stats-tab" data-toggle="tab"
                       href="#stats" role="tab">{% trans "Statistiques" %}</a>
                </li>
                {% if equipment or inventory %}
                    <li class="nav-item">
                        <a class="nav-link{% if 'items' in request.GET %} active{% endif %}" id="items-tab" data-toggle="tab"
                           href="#items" role="tab">{% trans "Objets" %}</a>
                    </li>
                {% endif %}
                {% if request.user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link{% if 'actions' in request.GET %} active{% endif %}" id="actions-tab" data-toggle="tab"
                           href="#actions" role="tab">{% trans "Actions" %}</a>
                    </li>
                {% endif %}
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade{% if 'stats' in request.GET %} active show{% endif %}" id="stats" role="tabpanel">
                    <div class="row">
                        <div class="col">
                            {% with code="general" label=_("Etat général") stats=character.general_stats view=True %}
                                {% include "fallout/_stats.html" %}
                            {% endwith %}

                            {% with code="special" label=_("S.P.E.C.I.A.L.") stats=character.special %}
                                {% include "fallout/_stats.html" %}
                            {% endwith %}
                        </div>
                        <div class="col">
                            {% with code="skill" label=_("Compétences") stats=character.skills %}
                                {% include "fallout/_stats.html" %}
                            {% endwith %}
                        </div>
                        <div class="col">
                            {% with code="other" label=_("Autres") stats=character.other_stats view=True %}
                                {% include "fallout/_stats.html" %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
                {% if equipment or inventory %}
                    <div class="tab-pane fade{% if 'items' in request.GET %} active show{% endif %}" id="items" role="tabpanel">
                        {% if equipment %}
                            <h4>{% trans "Equipement" %}</h4>
                            {% with items=equipment equiped=True %}
                                {% include "fallout/_items.html" %}
                            {% endwith %}
                            <hr />
                        {% endif %}
                        {% if inventory %}
                            <h4>{% trans "Inventaire" %}</h4>
                            {% with items=inventory equiped=False %}
                                {% include "fallout/_items.html" %}
                            {% endwith %}
                        {% endif %}
                    </div>
                {% endif %}
                <div class="tab-pane fade{% if 'actions' in request.GET %} active show{% endif %}" id="actions" role="tabpanel">
                    <div class="row">
                        <div class="col">
                            {% with code="fight" burst=False %}
                                {% include "fallout/_attack.html" %}
                            {% endwith %}

                            {% with code="burst" burst=True %}
                                {% include "fallout/_attack.html" %}
                            {% endwith %}
                        </div>
                        <div class="col">
                            {% with code="damage" multiple=False %}
                                {% include "fallout/_damage.html" %}
                            {% endwith %}
                        </div>
                        <div class="col">
                            {% with code="action" %}
                                {% include "fallout/_action.html" %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
