{% load i18n custom %}

<form method="post" action="{{ request.path }}">
    <table class="table table-sm table-striped">
        <thead class="thead-dark">
            <tr>
                <th class="text-center" colspan="2">{% trans "Personnage" %}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <label for="{{ code }}-hp" class="d-inline">{% trans "points de vie" %}</label>
                </td>
                <td class="text-right">
                    <select class="form-control form-control-sm custom-select custom-select-sm imedium" id="{{ code }}-hp" name="hp">
                        {% for i in 0|range:character.stats.max_health %}
                            {% if i == character.health %}
                                <option value="{{ i }}" selected>{{ i }} *</option>
                            {% else %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="{{ code }}-ap" class="d-inline">{% trans "points d'action" %}</label>
                </td>
                <td class="text-right">
                    <select class="form-control form-control-sm custom-select custom-select-sm imedium" id="{{ code }}-ap" name="ap">
                        {% for i in 0|range:character.stats.max_action_points %}
                            {% if i == character.action_points %}
                                <option value="{{ i }}" selected>{{ i }} *</option>
                            {% else %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="{{ code }}-thirst" class="d-inline">{% trans "soif" %}</label>
                </td>
                <td class="text-right">
                    <input type="number" class="form-control form-control-sm imedium" id="{{ code }}-thirst" name="thirst"
                           value="{{ character.thirst|floatformat:0 }}" min="0" aria-valuemin="0" max="1000" aria-valuemax="1000"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="{{ code }}-hunger" class="d-inline">{% trans "faim" %}</label>
                </td>
                <td class="text-right">
                    <input type="number" class="form-control form-control-sm imedium" id="{{ code }}-hunger" name="hunger"
                           value="{{ character.hunger|floatformat:0 }}" min="0" aria-valuemin="0" max="1000" aria-valuemax="1000"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="{{ code }}-sleep" class="d-inline">{% trans "sommeil" %}</label>
                </td>
                <td class="text-right">
                    <input type="number" class="form-control form-control-sm imedium" id="{{ code }}-sleep" name="sleep"
                           value="{{ character.sleep|floatformat:0 }}" min="0" aria-valuemin="0" max="1000" aria-valuemax="1000"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="{{ code }}-rads" class="d-inline">{% trans "rads" %}</label>
                </td>
                <td class="text-right">
                    <input type="number" class="form-control form-control-sm imedium" id="{{ code }}-rads" name="rads"
                           value="{{ character.rads|floatformat:0 }}" min="0" aria-valuemin="0" max="1000" aria-valuemax="1000"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="{{ code }}-xp" class="d-inline">{% trans "expérience" %}</label>
                </td>
                <td class="text-right">
                    <input type="number" class="form-control form-control-sm imedium" id="{{ code }}-ex" name="xp"
                           value="{{ character.experience }}" min="0" aria-valuemin="0"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="{{ code }}-karma" class="d-inline">{% trans "karma" %}</label>
                </td>
                <td class="text-right">
                    <input type="number" class="form-control form-control-sm imedium" id="{{ code }}-karma" name="karma"
                           value="{{ character.karma }}" min="-1000" aria-valuemin="-1000" max="1000" aria-valuemax="1000"/>
                </td>
            </tr>
        </tbody>
        <tfoot class="thead-dark">
            <tr>
                <th class="text-right" colspan="2">
                    <button class="btn btn-sm btn-primary" type="submit"
                            name="method" value="set">{% trans "OK" %}</button>
                </th>
            </tr>
        </tfoot>
    </table>
    <input type="hidden" name="type" value="action" />
    {% csrf_token %}
</form>
