{% load i18n %}

{% if characters %}
    <form id="{{ code }}" method="post" action="{{ request.path }}">
        <table class="table table-sm table-striped">
            <thead class="thead-dark">
                <tr>
                    <th class="text-center" colspan="2">
                        {% if burst %}{% trans "Attaque en rafale" %}{% else %}{% trans "Attaque simple" %}{% endif %}
                    </th>
                </tr>
            </thead>
            <tbody>
                {% if burst %}
                    {% for char in characters %}
                        {% ifchanged char.is_player %}
                            <tr>
                                <td colspan="2" class="text-center font-weight-bold">
                                    {% if char.is_player %}{% trans "Joueurs" %}{% else %}{% trans "Non joueurs" %}{% endif %}
                                </td>
                            </tr>
                        {% endifchanged %}
                        {% if char != character %}
                            <tr class="check-control">
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox"
                                               name="targets" value="{{ char.id }}"
                                               id="{{ code }}-target-{{ char.id }}"
                                               data-target="{{ code }}-target-range-{{ char.id }}">
                                        <label class="form-check-label" for="{{ code }}-target-{{ char.id }}">
                                            {{ char.name }}
                                        </label>
                                    </div>
                                </td>
                                <td class="text-right">
                                    <label for="{{ code }}-target-range-{{ char.id }}" class="d-inline">{% trans "dst." %}</label>
                                    <input class="form-control form-control-sm ismall" type="number"
                                           name="ranges" value="1" disabled="disabled" id="{{ code }}-target-range-{{ char.id }}" />
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="2">
                            <select class="form-control form-control-sm custom-select custom-select-sm"
                                    id="{{ code }}-target" name="target">
                                <option value=""></option>
                                <optgroup label="{% trans "Joueurs" %}">
                                    {% for char in characters %}
                                        {% if char.is_player and char != character %}
                                            <option value="{{ char.id }}">{{ char.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </optgroup>
                                <optgroup label="{% trans "Non joueurs" %}">
                                    {% for char in characters %}
                                        {% if not char.is_player and char != character %}
                                            <option value="{{ char.id }}">{{ char.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </optgroup>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="{{ code }}-fail" class="d-inline">{% trans "échec" %}</label></td>
                        <td class="text-right">
                            <select class="form-control form-control-sm custom-select custom-select-sm"
                                    id="{{ code }}-fail" name="fail_target">
                                <option value=""></option>
                                <optgroup label="{% trans "Joueurs" %}">
                                    {% for char in characters %}
                                        {% if char.is_player and char != character %}
                                            <option value="{{ char.id }}">{{ char.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </optgroup>
                                <optgroup label="{% trans "Non joueurs" %}">
                                    {% for char in characters %}
                                        {% if not char.is_player and char != character %}
                                            <option value="{{ char.id }}">{{ char.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </optgroup>
                            </select>
                        </td>
                    </tr>
                {% endif %}
                {% if not burst %}
                    <tr>
                        <td><label for="{{ code }}-target-part" class="d-inline">{% trans "cible" %}</label></td>
                        <td class="text-right">
                            <select class="form-control form-control-sm custom-select custom-select-sm"
                                    id="{{ code }}-target-part" name="target_part">
                                <option value="">{% trans "aléatoire" %}</option>
                                {% for code, label in body_parts %}
                                    <option value="{{ code }}">{{ label }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="{{ code }}-target-range" class="d-inline">{% trans "distance" %}</label></td>
                        <td class="text-right">
                            <input id="{{ code }}-target-range" class="form-control form-control-sm ismall"
                                   type="number" name="target_range" value="1" />
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <td><label for="{{ code }}-hit-chance-modifier" class="d-inline">{% trans "modificateur" %}</label></td>
                    <td class="text-right">
                        <input id="{{ code }}-hit-chance-modifier" class="form-control form-control-sm ismall"
                               type="number" name="hit_chance_modifier" value="0" />
                    </td>
                </tr>
                {% for item in inventory %}
                {% if item.slot == 'weapon' %}
                <tr>
                    <td colspan="2">
                        <div class="form-check form-check-inline">
                            <label class="form-check-label d-inline" title="{% trans "Arme secondaire" %}">
                                <input class="form-check-input" type="radio" name="weapon_type" value="primary" checked>
                                {{ item.item.name }} <small class="text-muted">({% trans "Arme principale" %})</small>
                            </label>
                        </div>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
                {% for item in inventory %}
                {% if item.secondary %}
                <tr>
                    <td colspan="2">
                        <div class="form-check form-check-inline">
                            <label class="form-check-label d-inline" title="{% trans "Arme secondaire" %}">
                                <input class="form-check-input" type="radio" name="weapon_type" value="secondary">
                                {{ item.item.name }} <small class="text-muted">({% trans "Arme secondaire" %})</small>
                            </label>
                        </div>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
                {% if burst %}
                {% for item in inventory %}
                {% if item.slot == 'grenade' %}
                <tr>
                    <td colspan="2">
                        <div class="form-check form-check-inline">
                            <label class="form-check-label d-inline" title="{% trans "Grenade" %}">
                                <input class="form-check-input" type="radio" name="weapon_type" value="grenade">
                                {{ item.item.name }} <small class="text-muted">({% trans "Grenade" %})</small>
                            </label>
                        </div>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="2">
                        <div class="form-check form-check-inline">
                            <label class="form-check-label d-inline" title="{% trans "À mains nues" %}">
                                <input class="form-check-input" type="radio" name="weapon_type" value="unarmed">
                                {% trans "Attaque à mains nues" %}
                            </label>
                        </div>
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <td class="text-right" colspan="2">
                        <div class="form-check form-check-inline">
                            <label class="form-check-label d-inline" title="{% trans "Succès" %}">
                                <input class="form-check-input" type="checkbox" name="force_success">
                                {% trans "Succès" %}
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label d-inline" title="{% trans "Critique" %}">
                                <input class="form-check-input" type="checkbox" name="force_critical">
                                {% trans "Critique" %}
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label d-inline" title="{% trans "Dégâts bruts" %}">
                                <input class="form-check-input" type="checkbox" name="force_raw_damage">
                                {% trans "Dégâts bruts" %}
                            </label>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot class="thead-dark">
                <tr>
                    <th class="text-right" colspan="2">
                        <div class="form-check form-check-inline">
                            <label class="form-check-label d-inline" title="{% trans "Points d'action" %}">
                                <input class="form-check-input" type="checkbox" name="is_action">
                                {% trans "Action" %}
                            </label>
                        </div>
                        <button class="btn btn-sm btn-light" type="button" data-simulation="#{{ code }}">
                            {% trans "Simuler" %}
                        </button>
                        <button class="btn btn-sm btn-primary" type="submit">{% trans "OK" %}</button>
                    </th>
                </tr>
            </tfoot>
        </table>
        {% if not view %}
            <input type="hidden" name="character" value="{{ character.id }}" />
            <input type="hidden" name="type" value="{% if burst %}burst{% else %}fight{% endif %}" />
            {% csrf_token %}
        {% endif %}
    </form>
{% endif %}
