{% load i18n %}

{% if characters %}
    <form method="post" action="{{ request.path }}">
        <table class="table table-sm table-striped">
            <thead class="thead-dark">
                <tr>
                    <th class="text-center" colspan="2">
                        {% if burst %}{% trans "Attaque en rafale" %}{% else %}{% trans "Attaque simple" %}{% endif %}
                    </th>
                </tr>
            </thead>
            <tbody>
                {% if burst %}
                    {% for c in characters %}
                        {% if c != character %}
                            <tr class="check-control">
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox"
                                               name="targets" value="{{ c.id }}"
                                               id="{{ code }}-target-{{ c.id }}"
                                               data-target="{{ code }}-target-range-{{ c.id }}">
                                        <label class="form-check-label" for="{{ code }}-target-{{ c.id }}">
                                            {{ c.name }}
                                        </label>
                                    </div>
                                </td>
                                <td class="text-right">
                                    <label for="{{ code }}-target-range-{{ c.id }}" class="d-inline">{% trans "dst." %}</label>
                                    <input class="form-control form-control-sm ismall" type="number"
                                           name="ranges" value="1" disabled="disabled" id="{{ code }}-target-range-{{ c.id }}" />
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="2">
                            <select class="form-control form-control-sm custom-select" id="{{ code }}-target" name="target">
                                {% for c in characters %}
                                    {% if c != character %}
                                        <option value="{{ c.id }}">{{ c.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                {% endif %}
                {% if not burst %}
                    <tr>
                        <td><label for="{{ code }}-target-part" class="d-inline">{% trans "cible" %}</label></td>
                        <td class="text-right">
                            <select class="form-control form-control-sm custom-select" id="{{ code }}-target-part" name="target_part">
                                <option value="">{% trans "non ciblé" %}</option>
                                {% for code, label in body_parts %}
                                    <option value="{{ code }}">{{ label }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="{{ code }}-target-range" class="d-inline">{% trans "distance" %}</label></td>
                        <td class="text-right">
                            <input id="{{ code }}-target-range" class="form-control form-control-sm ismall"
                                   type="number" name="target_range" value="1" />
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <td><label for="{{ code }}-hit-modifier" class="d-inline">{% trans "modificateur" %}</label></td>
                    <td class="text-right">
                        <input id="{{ code }}-hit-modifier" class="form-control form-control-sm ismall"
                               type="number" name="hit_modifier" value="0" />
                    </td>
                </tr>
            </tbody>
            <tfoot class="thead-dark">
                <tr>
                    <th class="text-right align-middle" colspan="2">
                        <label class="form-check-label mr-4" class="d-inline" title="{% trans "Grenade" %}">
                            <input class="form-check-input" type="checkbox" name="is_grenade">
                            {% trans "Grenade" %}
                        </label>
                        <label class="form-check-label mr-1" class="d-inline" title="{% trans "Points d'action" %}">
                            <input class="form-check-input" type="checkbox" name="is_action">
                            {% trans "PA" %}
                        </label>
                        <button class="btn btn-sm btn-primary" type="submit">{% trans "OK" %}</button>
                    </th>
                </tr>
            </tfoot>
        </table>
        {% if not view %}
            <input type="hidden" name="type" value="{% if burst %}burst{% else %}fight{% endif %}" />
            {% csrf_token %}
        {% endif %}
    </form>
{% endif %}
