{% load i18n %}

<form method="post" action="{{ request.path }}">
    <table class="table table-sm table-striped">
        <thead class="thead-dark">
            <tr>
                <th class="text-center" colspan="2">{% trans "Dégâts" %}</th>
            </tr>
        </thead>
        <tbody>
            {% if multiple %}
                {% for character in characters %}
                    <tr colspan="2">
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="{{ code }}-character-{{ c.id }}"
                                       name="characters" value="{{ character.id }}">
                                <label class="form-check-label" for="{{ code }}-character-{{ c.id }}">
                                    {{ character.name }}
                                </label>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            <tr>
                <td colspan="2">
                    <label for="{{ code }}-damage-type" class="sr-only">{% trans "type" %}</label>
                    <select class="form-control form-control-sm custom-select custom-select-sm"
                            id="{{ code }}-damage-type" name="damage_type">
                        {% for group_label, types in damage_types %}
                            <optgroup label="{{ group_label }}">
                                {% for code, label in types %}
                                    <option value="{{ code }}">{{ label }}</option>
                                {% endfor %}
                            </optgroup>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="{{ code }}-body-part" class="d-inline">{% trans "cible" %}</label></td>
                <td class="text-right">
                    <select class="form-control form-control-sm custom-select custom-select-sm"
                            id="{{ code }}-body-part" name="body_part">
                        <option value="">{% trans "non ciblé" %}</option>
                        {% for code, label in body_parts %}
                            <option value="{{ code }}">{{ label }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="{{ code }}-raw-damage" class="d-inline">{% trans "valeur fixe" %}</label>
                </td>
                <td class="text-right">
                    <input id="{{ code }}-raw-damage" class="form-control form-control-sm ismall"
                           type="number" name="raw_damage" value="0" min="0" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="{{ code }}-min-damage" class="d-inline">{% trans "valeur min." %}</label>
                </td>
                <td class="text-right">
                    <input id="{{ code }}-min-damage" class="form-control form-control-sm ismall"
                           type="number" name="min_damage" value="0" min="0" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="{{ code }}-max-damage" class="d-inline">{% trans "valeur max." %}</label>
                </td>
                <td class="text-right">
                    <input id="{{ code }}-max-damage" class="form-control form-control-sm ismall"
                           type="number" name="max_damage" value="0" min="0" />
                </td>
            </tr>
        </tbody>
        <tfoot class="thead-dark">
            <tr>
                <th class="text-right" colspan="2">
                    <button class="btn btn-sm btn-primary" type="submit">{% trans "OK" %}</button>
                </th>
            </tr>
        </tfoot>
    </table>
    <input type="hidden" name="type" value="damage" />
    {% csrf_token %}
</form>
