{% load i18n l10n %}

<div class="row">
    {% for effect in effects %}
        {% with info=effect.effect %}
            <div class="col-md-3 col-sm-6 mb-3">
                <div class="card h-100">
                    <div class="card-header">
                        <span class="card-title">{{ info.name }}</span>
                        {% if info.title %}<small class="card-subtitle mb-2 text-muted">{{ info.title }}</small>{% endif %}
                    </div>
                    <div class="card-body">
                        {% with image=info.image thumbnail=info.thumbnail %}
                            {% if thumbnail %}
                                <div class="thumbnail rounded mb-2">
                                    <img class="img-fluid mx-auto d-block rounded" src="{{ thumbnail }}">
                                </div>
                            {% elif image %}
                                <img class="img-fluid mx-auto d-block rounded mb-2" src="{{ image.url }}">
                            {% endif %}
                        {% endwith %}
                        <p class="card-text">
                            {% for modifier in info.modifiers.all %}
                                <small class="badge {% if modifier.value > 0 %}badge-success{% else %}badge-danger{% endif %}">
                                    {% if modifier.value > 0 %}+{% endif %}{{ modifier.value }}
                                    {{ modifier.get_stats_display }}
                                </small>
                            {% endfor %}
                        </p>
                        {% if effect.progress %}
                            <p class="card-text">
                                <div class="progress">
                                    {% for value, css, date in effect.progress %}
                                        {% localize off %}
                                        <div role="progressbar" style="width: {{ value }}%;" aria-valuenow="{{ value }}"
                                             aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-{{ css }}"
                                        {% endlocalize %}
                                             title="{{ date }}">
                                            {{ value|floatformat:0 }}%
                                        </div>
                                    {% endfor %}
                                </div>
                            </p>
                        {% endif %}
                        {% if info.description %}
                            <p class="card-text">
                                <small class="text-muted">{{ info.description }}</small>
                            </p>
                        {% endif %}
                        {% if info.label_damage %}
                            <p class="card-text">
                                <small class="font-weight-bold">{{ info.long_label_damage }}</small>
                            </p>
                        {% endif %}
                    </div>
                    {% if authorized %}
                        <div class="card-footer">
                            <form class="form-inline" method="post" action="{{ request.path }}">
                                <button class="btn btn-sm btn-danger mr-1" type="submit"
                                        name="method" value="remove">{% trans "Supprimer" %}</button>
                                <input type="hidden" name="type" value="effect" />
                                <input type="hidden" name="scope" value="{{ scope }}" />
                                <input type="hidden" name="effect-id" value="{{ effect.id }}" />
                                {% csrf_token %}
                            </form>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endwith %}
    {% endfor %}
</div>
