{% load i18n l10n custom %}

<div class="row">
    {% for equip in items %}
        {% if equip.equiped == equiped %}
            {% with item=equip.item %}
                <div class="col-md-4 col-sm-6 mb-3">
                    <div class="card h-100">
                        <div class="card-header">
                            {% if equip.quantity > 1 %}
                                <span class="badge badge-dark">{{ equip.quantity }}</span>
                            {% endif %}
                            <span class="card-title">{{ item.name }}</span>
                            {% if item.title %}<small class="card-subtitle mb-2 text-muted">{{ item.title }}</small>{% endif %}
                        </div>
                        <div class="card-body">
                            {% with image=item.image thumbnail=item.thumbnail %}
                                {% if thumbnail %}
                                    <img class="img-fluid mx-auto d-block mb-2" src="{{ thumbnail }}">
                                {% elif image %}
                                    <img class="img-fluid mx-auto d-block mb-2" height="{{ image.height }}" width="{{ image.width }}" src="{{ image.url }}">
                                {% endif %}
                            {% endwith %}
                            <p class="card-text">
                                <small class="badge badge-primary">{{ equip.charge|floatformat:2 }} {% trans "kg" %}</small>
                                <small class="badge badge-warning">{{ equip.value|floatformat:2 }} {% trans "$" %}</small>
                                {% if item.clip_size %}
                                    <small class="badge badge-danger">{{ equip.clip_count }} / {{ item.clip_size }}</small>
                                {% endif %}
                                {% for modifier in item.modifiers.all %}
                                    <small class="badge {% if modifier.value > 0 %}badge-success{% else %}badge-danger{% endif %}">
                                        {% if modifier.value > 0 %}+{% endif %}{{ modifier.value }}
                                        {{ modifier.get_stats_display }}
                                    </small>
                                {% endfor %}
                                {% with condition=equip.current_condition %}
                                    {% if condition %}
                                        <div class="progress">
                                            {% localize off %}
                                            <div role="progressbar" style="width: {{ condition }}%;" aria-valuenow="{{ condition }}"
                                                 aria-valuemin="0" aria-valuemax="100" class="progress-bar
                                                 bg-{% if condition < 25 %}danger{% elif condition < 50 %}warning{% else %}success{% endif %}">
                                            {% endlocalize %}
                                                {{ condition|floatformat:0 }}%
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="progress">
                                            <div role="progressbar" style="width: 100%;" aria-valuenow="100"
                                                 aria-valuemin="0" aria-valuemax="100"
                                                 class="progress-bar progress-bar-striped bg-dark">
                                                {% trans "incassable" %}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endwith %}
                            </p>
                            {% if item.description %}
                                <p class="card-text">
                                    <small class="text-muted">{{ item.description }}</small>
                                </p>
                            {% endif %}
                            {% if item.label_damage %}
                                <p class="card-text">
                                    <small class="font-weight-bold">{{ item.long_label_damage }}</small>
                                </p>
                            {% endif %}
                        </div>
                        {% if authorized %}
                            <div class="card-footer">
                                <form class="form-inline" method="post" action="{{ request.path }}">
                                    {% if equip.equiped %}
                                        <button class="btn btn-sm btn-danger mr-1" type="submit"
                                                name="method" value="equip">{% trans "Retirer" %}</button>
                                        {% if item.clip_size and equip.clip_count < item.clip_size %}
                                            <button class="btn btn-sm btn-success mr-1" type="submit"
                                                    name="method" value="reload">{% trans "Recharger" %}</button>
                                        {% endif %}
                                    {% else %}
                                        {% if equip.quantity > 1 %}
                                            <label class="sr-only" for="quantity-{{ loot.id }}">{% trans "Quantité" %}</label>
                                            <select name="quantity" id="quantity-{{ loot.id }}"
                                                    class="form-control custom-select mr-1">
                                                {% for i in 0|range:equip.quantity %}
                                                    <option value="{{ i }}">{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                        {% else %}
                                            <input type="hidden" name="quantity" value="{{ loot.quantity }}" />
                                        {% endif %}
                                        <button class="btn btn-sm btn-warning mr-1" type="submit"
                                                name="method" value="drop">{% trans "Lâcher" %}</button>
                                        {% if item.compatible_ammunition %}
                                            <button class="btn btn-sm btn-warning mr-1" type="submit"
                                                    name="method" value="equip">{% trans "Remplacer" %}</button>
                                        {% elif item.is_equipable %}
                                            <button class="btn btn-sm btn-primary mr-1" type="submit"
                                                    name="method" value="equip">{% trans "Equiper" %}</button>
                                        {% elif item.is_usable %}
                                            <button class="btn btn-sm btn-success mr-1" type="submit"
                                                    name="method" value="use">{% trans "Utiliser" %}</button>
                                        {% endif %}
                                    {% endif %}
                                    <div class="form-check ml-1">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" name="action">
                                            <small title="{% trans "Points d'action" %}">{% trans "PA" %}</small>
                                        </label>
                                    </div>
                                    <input type="hidden" name="type" value="item" />
                                    <input type="hidden" name="item-id" value="{{ equip.id }}" />
                                    {% csrf_token %}
                                </form>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endwith %}
        {% endif %}
    {% endfor %}
</div>
