{% load static i18n l10n custom %}

<div class="row">
    {% for equip in items %}
        {% if equip.equiped == equiped %}
            {% with item=equip.item %}
                <div class="col-xl-3 col-lg-4 col-md-6 col-12 mb-3">
                    <div class="card h-100">
                        <div class="card-header">
                            {% if equip.quantity > 0 and not item.is_repairable %}
                                <span class="badge badge-dark">{{ equip.quantity }}</span>
                            {% elif not equip.quantity %}
                                <span class="badge badge-danger">{% trans "vide" %}</span>
                            {% endif %}
                            <span class="card-title">{{ item.name }}</span>
                            {% if item.title %}
                                <small class="card-subtitle mb-2 text-muted">{{ item.title }}</small>
                            {% endif %}
                            {% if equip.secondary %}
                                <span class="badge badge-secondary float-right">{% trans "Arme" %}</span>
                            {% endif %}
                        </div>
                        <div class="card-body">
                            {% with image=item.image thumbnail=item.thumbnail %}
                                {% if thumbnail %}
                                    <div class="thumbnail rounded mb-2">
                                        <img class="img-fluid d-block m-auto" src="{% static "fallout/img/" %}{{ thumbnail }}">
                                    </div>
                                {% elif image %}
                                    <img class="img-fluid m-auto mb-2" src="{{ image.url }}">
                                {% endif %}
                            {% endwith %}
                            <p class="card-text">
                                <small class="badge badge-light">
                                    {{ equip.charge|floatformat:2 }} {% trans "kg" %}
                                </small>
                                <small class="badge badge-warning">
                                    {{ equip.value|floatformat:2 }} {% trans "¤" %}
                                </small>
                                {% if item.clip_size %}
                                    <small class="badge badge-danger">
                                        {{ equip.clip_count }} / {{ item.clip_size }}
                                    </small>
                                {% endif %}
                                {% for modifier in item.modifiers.all %}
                                    <small class="badge {% if modifier.is_bonus %}badge-success{% else %}badge-danger{% endif %}">
                                        {{ modifier.label }}
                                    </small>
                                {% endfor %}
                                {% with condition=equip.current_condition %}
                                    {% if condition %}
                                        <div class="progress">
                                            {% localize off %}
                                            <div role="progressbar" style="width: {{ condition }}%;" aria-valuenow="{{ condition }}"
                                                 aria-valuemin="0" aria-valuemax="100"
                                                 class="progress-bar text-light font-weight-bold
                                                 bg-{% if condition < 25 %}danger{% elif condition < 50 %}warning{% else %}success{% endif %}">
                                            {% endlocalize %}
                                                {{ condition|floatformat:0 }}%
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="progress">
                                            <div role="progressbar" style="width: 100%;" aria-valuenow="100"
                                                 aria-valuemin="0" aria-valuemax="100"
                                                 class="progress-bar progress-bar-striped text-light bg-dark">
                                                {% trans "incassable" %}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endwith %}
                            </p>
                            {% if item.description %}
                                <p class="card-text">
                                    <small class="text-muted">{{ item.description }}</small>
                                </p>
                            {% endif %}
                            {% if item.label_damage %}
                                <p class="card-text">
                                    <small class="badge badge-light">
                                        {{ item.long_label_damage }}
                                    </small>
                                    {% if item.ap_cost_reload %}
                                        <small class="badge badge-secondary">
                                            {{ item.ap_cost_reload }} {% trans "PA recharge" %}
                                        </small>
                                    {% endif %}
                                    {% if item.ap_cost_normal %}
                                        <small class="badge badge-secondary">
                                            {{ item.ap_cost_normal }} {% trans "PA attaque" %}
                                        </small>
                                    {% endif %}
                                    {% if item.ap_cost_target %}
                                        <small class="badge badge-secondary">
                                            {{ item.ap_cost_target }} {% trans "PA ciblé" %}
                                        </small>
                                    {% endif %}
                                    {% if item.ap_cost_burst %}
                                        <small class="badge badge-secondary">
                                            {{ item.ap_cost_burst }} {% trans "PA rafale" %}
                                        </small>
                                    {% endif %}
                                </p>
                            {% endif %}
                            {% with resistances=item.resistances %}
                                {% if resistances %}
                                    <div class="table-responsive">
                                        <table class="table table-sm mb-0 small">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th scope="col" class="text-center font-weight-bold"
                                                        title="{% trans "classe d'armure" %}" data-toggle="tooltip" data-placement="bottom">
                                                        {% trans "CA" %}
                                                    </th>
                                                    {% for resistance in resistances %}
                                                        <th scope="col" class="text-center font-weight-bold"
                                                            title="{{ resistance.long_label }}" data-toggle="tooltip" data-placement="bottom">
                                                            {{ resistance.short_label }}
                                                        </th>
                                                    {% endfor %}
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="text-center" rowspan="2">
                                                        <strong>{{ item.armor_class }}</strong>
                                                    </td>
                                                    {% for resistance in resistances %}
                                                        <td class="text-center">
                                                            {{ resistance.threshold }}
                                                        </td>
                                                    {% endfor %}
                                                </tr>
                                                <tr>
                                                    {% for resistance in resistances %}
                                                        <td class="text-center">
                                                            {{ resistance.resistance }}%
                                                        </td>
                                                    {% endfor %}
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                {% endif %}
                            {% endwith %}
                        </div>
                        {% if authorized %}
                            <div class="card-footer collapse-form collapse show">
                                <form class="form-inline" method="post" action="{{ request.path }}">
                                    {% if equip.equiped %}
                                        <button class="btn btn-sm btn-danger mr-1" type="submit"
                                                name="method" value="equip">{% trans "Retirer" %}</button>
                                        {% if item.clip_size and equip.clip_count < item.clip_size %}
                                            <button class="btn btn-sm btn-success mr-1" type="submit"
                                                    name="method" value="reload">{% trans "Recharger" %}</button>
                                        {% endif %}
                                        {% if equip.current_condition < 100 %}
                                            <label class="sr-only" for="condition-{{ equip.id }}">{% trans "Etat" %}</label>
                                            <input name="condition" id="condition-{{ equip.id }}" type="number"
                                                   min="0" max="100" aria-valuemin="0" aria-valuemax="100"
                                                   class="form-control form-control-sm ismall mr-1"
                                                   value="{{ equip.current_condition }}">
                                            <button class="btn btn-sm btn-info mr-1" type="submit"
                                                name="method" value="repair">{% trans "Réparer" %}</button>
                                        {% endif %}
                                    {% else %}
                                        {% if equip.quantity > 1 %}
                                            <label class="sr-only" for="quantity-{{ equip.id }}">{% trans "Quantité" %}</label>
                                            <input name="quantity" id="quantity-{{ equip.id }}" type="number"
                                                   min="0" max="{{ equip.quantity }}" aria-valuemin="0" aria-valuemax="{{ equip.quantity }}"
                                                   class="form-control form-control-sm ismall mr-1"
                                                   value="{{ equip.quantity }}">
                                        {% else %}
                                            <input type="hidden" name="quantity" value="{{ equip.quantity }}" />
                                        {% endif %}
                                        <button class="btn btn-sm btn-warning mr-1" type="submit"
                                                name="method" value="drop">{% trans "Lâcher" %}</button>
                                        {% if item.is_repairable %}
                                            <label class="sr-only" for="condition-{{ equip.id }}">{% trans "Etat" %}</label>
                                            <input name="condition" id="condition-{{ equip.id }}" type="number"
                                                   min="0" max="100" aria-valuemin="0" aria-valuemax="100"
                                                   class="form-control form-control-sm ismall mr-1"
                                                   value="{{ equip.current_condition }}">
                                            <button class="btn btn-sm btn-info mr-1" type="submit"
                                                name="method" value="repair">{% trans "Réparer" %}</button>
                                        {% endif %}
                                        {% if item.compatible_ammunition %}
                                            <button class="btn btn-sm btn-warning mr-1" type="submit"
                                                    name="method" value="equip">{% trans "Remplacer" %}</button>
                                        {% elif item.is_equipable %}
                                            <button class="btn btn-sm btn-primary mr-1" type="submit"
                                                    name="method" value="equip">{% trans "Equiper" %}</button>
                                        {% elif item.is_usable %}
                                            <button class="btn btn-sm btn-success mr-1" type="submit"
                                                    name="method" value="use">{% trans "Utiliser" %}</button>
                                        {% endif %}
                                        {% if item.is_melee and not equip.secondary %}
                                            <button class="btn btn-sm btn-secondary mr-1" type="submit"
                                                name="method" value="secondary">{% trans "Armer" %}</button>
                                        {% endif %}
                                    {% endif %}
                                    <div class="form-check ml-1">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" name="is_action">
                                            <small title="{% trans "Points d'action" %}">{% trans "PA" %}</small>
                                        </label>
                                    </div>
                                    <input type="hidden" name="type" value="item" />
                                    <input type="hidden" name="item-id" value="{{ equip.id }}" />
                                    {% csrf_token %}
                                </form>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endwith %}
        {% endif %}
    {% endfor %}
</div>
