{% load i18n tools %}

<form method="post" action="{{ request.path }}">
    <table class="table table-sm table-striped">
        <thead class="thead-dark">
            <th class="text-center" colspan="2">{{ label }}</th>
        </thead>
        <tbody>
            {% if not view and authorized %}
                <tr class="collapse-form collapse show">
                    <td>
                        <label for="{{ code }}-modifier" class="d-inline">{% trans "modificateur" %}</label>
                    </td>
                    <td class="text-right">
                        <input id="{{ code }}-modifier" class="form-control form-control-sm itiny"
                               type="number" name="modifier" value="" />
                    </td>
                </tr>
            {% endif %}
            {% for s in stats %}
                {% with title=character.labels|get:s.code|default:"" modifier=character.stats.modifiers|get:s.code %}
                <tr>
                    <td>
                        <span {% if modifier %}title="{% if modifier > 0 %}+{% endif %}{{ modifier|default:"" }}" data-toggle="tooltip" data-placement="right"
                              class="{% if modifier > 0 %}text-success{% elif modifier < 0 %}text-danger{% endif %} pr-1"{% endif %}>
                            {% if modifier > 0 %}&blacktriangle;{% elif modifier < 0 %}&blacktriangledown;{% endif %}
                            {% if s.code in character.tag_skills %}<strong>{{ s.label }}</strong>{% else %}{{ s.label }}{% endif %}
                        </span>
                    </td>
                    <td class="text-right">
                        {% if view or not authorized %}
                            <strong class="text-{{ s.css|default:'dark' }}" {% if s.title %}title="{{ s.title }}{% endif %}"
                                    data-html="true" data-toggle="tooltip" data-placement="left">
                                {{ s.lvalue|floatformat:0 }}{% if s.rvalue is not None %}&nbsp;/&nbsp;{{ s.rvalue|floatformat:0 }}{% endif %}
                                {% if s.end %}{{ s.end }}{% endif %}
                            </strong>
                        {% elif authorized %}
                            {% if levelup and character.used_skill_points < character.skill_points %}
                                {% if s.code in character.tag_skills or character.used_skill_points|add:2 < character.skill_points %}
                                    <button class="btn btn-sm btn-dark" type="submit" name="levelup" value="{{ s.code }}">
                                        <strong>{% trans "+" %}</strong>
                                    </button>
                                {% endif %}
                            {% endif %}
                            <button class="btn btn-sm btn-{{ s.css }} itiny" type="submit" name="roll" value="{{ s.code }}">
                                <strong>{{ s.lvalue|floatformat:0 }}</strong>
                            </button>
                        {% endif %}
                    </td>
                </tr>
                {% endwith %}
            {% endfor %}
        </tbody>
    </table>
    {% if not view %}
        <input type="hidden" name="type" value="stats" />
        {% csrf_token %}
    {% endif %}
</form>
