{% load i18n tools %}

<form method="post" action="{{ request.path }}">
    <table class="table table-sm table-striped">
        <thead class="thead-dark">
            <th class="text-center" colspan="2">{{ label }}</th>
        </thead>
        <tbody>
            {% if not view or not authorized %}
                <tr>
                    <td>
                        <label for="{{ code }}-modifier" class="d-inline">{% trans "modificateur" %}</label>
                    </td>
                    <td class="text-right">
                        <input id="{{ code }}-modifier" class="form-control form-control-sm itiny"
                               type="number" name="modifier" value="" />
                    </td>
                </tr>
            {% endif %}
            {% for s in stats %}
                {% with title=character.labels|get:s.0|default:"" modifier=character.stats.modifiers|get:s.0 %}
                <tr>
                    <td>
                        <span {% if modifier %}title="{% if modifier > 0 %}+{% endif %}{{ modifier|default:"" }}" data-toggle="tooltip" data-placement="right"
                              class="{% if modifier > 0 %}text-success{% elif modifier < 0 %}text-danger{% endif %} pr-1"{% endif %}>
                            {% if modifier > 0 %}&blacktriangle;{% elif modifier < 0 %}&blacktriangledown;{% endif %}
                            {% if s.0 in character.tag_skills %}<strong>{{ s.1 }}</strong>{% else %}{{ s.1 }}{% endif %}
                        </span>
                    </td>
                    <td class="text-right">
                        {% if view or not authorized %}
                            <strong class="text-{{ s.4|default:'dark' }}" title="{{ title }}" data-toggle="tooltip" data-placement="top">
                                {{ s.2|floatformat:0 }}{% if s.3 is not None %}&nbsp;/&nbsp;{{ s.3|floatformat:0 }}{% endif %}
                            </strong>
                        {% elif authorized %}
                            {% if levelup and character.skill_points > 0 %}
                                <button class="btn btn-sm btn-dark" type="submit" name="levelup" value="{{ s.0 }}">
                                    <strong>{% trans "+" %}</strong>
                                </button>
                            {% endif %}
                            <button class="btn btn-sm btn-{{ s.4 }} itiny" type="submit" name="roll" value="{{ s.0 }}">
                                <strong>{{ s.2|floatformat:0 }}</strong>
                            </button>
                        {% endif %}
                    </td>
                </tr>
                {% endwith %}
            {% endfor %}
        </tbody>
    </table>
    {% if not view %}
        <input type="hidden" name="type" value="stats" />
        {% csrf_token %}
    {% endif %}
</form>
