{% load i18n tools %}

<form method="post" action="{{ request.path }}">
    <table class="table table-sm table-striped">
        {% if label %}
        <thead class="thead-dark">
            <th class="text-center" colspan="2">{{ label }}</th>
        </thead>
        {% endif %}
        <tbody>
            {% if not view and authorized and label %}
                <tr class="collapse-form collapse show">
                    <td>
                        <label for="{{ code }}-modifier-{{ character.id }}" class="d-inline">
                            {% trans "modificateur" %}
                        </label>
                    </td>
                    <td class="text-right">
                        <input id="{{ code }}-modifier-{{ character.id }}" class="form-control form-control-sm itiny"
                               type="number" name="modifier" value="" />
                    </td>
                </tr>
            {% else %}
                <input id="{{ code }}-modifier-{{ character.id }}" type="hidden" name="modifier" value="" />
            {% endif %}
            {% for s in stats %}
                {% with title=character.labels|get:s.code|default:"" modifier=character.stats.modifiers|get:s.code %}
                <tr>
                    <td>
                        {% if authorized and not view and not character.is_player and code == 'skill' %}
                        <div class="form-check form-check-inline">
                            <label class="form-check-label" class="d-inline" title="{{ s.label }}">
                                <input class="form-check-input" type="checkbox" name="skills"
                                       value="{{ s.code }}"{% if s.code in character.tag_skills %} checked{% endif %}>
                            </label>
                        </div>
                        {% endif %}
                        {% if s.code in character.extra_data %}
                            <span title="{{ character.extra_data|get:s.code }}"
                                  data-toggle="tooltip" data-placement="top" class="text-info">&diams;</span>
                        {% endif %}
                        <span {% if modifier %}title="{% if modifier > 0 %}+{% endif %}{{ modifier|default:"" }}" data-toggle="tooltip" data-placement="right"
                              class="{% if modifier > 0 %}text-success{% elif modifier < 0 %}text-danger{% endif %} pr-1"{% endif %}>
                            {% if modifier > 0 %}&blacktriangle;{% elif modifier < 0 %}&blacktriangledown;{% endif %}
                            {% if s.code in character.tag_skills %}<strong>{{ s.label }}</strong>{% else %}{{ s.label }}{% endif %}
                        </span>
                    </td>
                    <td class="text-right">
                        {% if view or not authorized %}
                            <strong class="text-{{ s.css|default:'light' }}" {% if s.title %}title="{{ s.title }}{% endif %}"
                                    data-html="true" data-toggle="tooltip" data-placement="left">
                                {{ s.lvalue|floatformat:0 }}{% if s.rvalue is not None %}&nbsp;/&nbsp;{{ s.rvalue|floatformat:0 }}{% endif %}
                                {% if s.end %}{{ s.end }}{% endif %}
                            </strong>
                        {% elif authorized %}
                            {% if levelup and character.used_skill_points < character.skill_points %}
                                {% if s.code in character.tag_skills or character.used_skill_points|add:2 <= character.skill_points %}
                                    <button class="btn btn-sm btn-primary" type="submit" name="levelup" value="{{ s.code }}">
                                        <strong>{% trans "+" %}</strong>
                                    </button>
                                {% endif %}
                            {% endif %}
                            <button class="btn btn-sm btn-{{ s.css }} itiny" type="submit" name="roll" value="{{ s.code }}">
                                <strong class="stats" data-code="{{ code }}" data-value="{{ s.lvalue|floatformat:0 }}">{{ s.lvalue|floatformat:0 }}</strong>
                            </button>
                        {% endif %}
                    </td>
                </tr>
                {% endwith %}
            {% endfor %}
        </tbody>
        {% if authorized and not view and not character.is_player and code in "special,skills" %}
        <tfoot>
            <tr>
                <th colspan="2">
                    <div class="text-right">
                        {% if code == 'special' %}
                        <div class="d-inline-flex">
                            <div class="input-group input-group-sm mr-1">
                                <div class="input-group-prepend">
                                    <label for="{{ code }}-level" class="input-group-text">{% trans "Points" %}</label>
                                </div>
                                <input type="number" class="form-control form-control-sm ismall" id="{{ code }}-points"
                                       name="points" placeholder="{% trans "Points" %}" value="40"
                                       aria-valuemin="1" min="1">
                            </div>
                        </div>
                        {% if not character.has_stats %}
                        <div class="form-check form-check-inline">
                            <label class="form-check-label" class="d-inline" title="{% trans "Stats" %}">
                                <input class="form-check-input" type="checkbox" name="stats" checked>
                                {% trans "Stats" %}
                            </label>
                        </div>
                        {% endif %}
                        {% elif code == 'skill' %}
                        <div class="d-inline-flex">
                            <div class="input-group input-group-sm mr-1">
                                <div class="input-group-prepend">
                                    <label for="{{ code }}-level" class="input-group-text">{% trans "Nv." %}</label>
                                </div>
                                <input type="number" class="form-control form-control-sm ismall" id="{{ code }}-level"
                                       name="level" placeholder="{% trans "Nv." %}" value="{{ character.level }}"
                                       aria-valuemin="1" min="1">
                            </div>
                        </div>
                        <div class="d-inline-flex">
                            <div class="input-group input-group-sm mr-1">
                                <input type="number" class="form-control form-control-sm ismall" id="{{ code }}-rate"
                                       name="rate" placeholder="{% trans "Taux" %}" value="50"
                                       aria-valuemin="1" min="1">
                                <div class="input-group-append">
                                    <label for="{{ code }}-rate" class="input-group-text">{% trans "%" %}</label>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        <button type="submit" class="btn btn-sm btn-primary"
                                name="method" value="randomize">{% trans "Générer" %}</button>
                    </div>
                </th>
            </tr>
        </tfoot>
        {% endif %}
    </table>
    {% if not view %}
        <input type="hidden" name="type" value="stats" />
        <input type="hidden" name="subtype" value="{{ code }}" />
        <input type="hidden" name="character" value="{{ character.id }}" />
        {% csrf_token %}
    {% endif %}
</form>
