{% load i18n %}

<ul class="navbar-nav mr-auto">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="campaign-navbar" href="#" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">{{ campaign.name|default:_("Aucune campagne") }}</a>
        <div class="dropdown-menu" style="max-height: 90vh; overflow-y: auto" aria-labelledby="campaign-navbar">
            <a class="dropdown-item text-secondary" href="{% url 'fallout:index' %}">{% trans "Aucune campagne" %}</a>
            {% with current_campaign=campaign %}
                {% for campaign in campaigns %}
                    <a class="dropdown-item{% if campaign == current_campaign %} active{% endif %}"
                       href="{% url 'fallout:campaign' campaign.id %}">
                        {% if authorized %}
                            {% if campaign.pcs %}
                                <small class="badge badge-success">{{ campaign.pcs }}</small>
                            {% endif %}
                            {% if campaign.npcs %}
                                <small class="badge badge-warning">{{ campaign.npcs }}</small>
                            {% endif %}
                        {% endif %}
                        {{ campaign.name }}
                        {% if campaign.title %}
                            <small class="{% if campaign != current_campaign %}text-muted{% endif %}">{{ campaign.title }}</small>
                        {% endif %}
                    </a>
                {% endfor %}
            {% endwith %}
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle{% if not characters %} disabled{% endif %}"
           id="campaign-navbar" href="#" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">{{ character.name|default:_("Personnages") }}</a>
        <div class="dropdown-menu" style="max-height: 90vh; overflow-y: auto" aria-labelledby="campaign-navbar">
            {% with current_character=character %}
                {% for character in characters %}
                    <a class="dropdown-item{% if character == current_character %} active{% endif %}"
                       href="{% url 'fallout:character' character.id %}">
                        {% if character.is_player %}
                            <small class="badge badge-success">{% trans "PJ" %}</small>
                        {% else %}
                            <small class="badge badge-warning">{% trans "PNJ" %}</small>
                        {% endif %}
                        <span class="badge badge-light">{{ character.level }}</span>
                        {% if character.health == 0 %}
                            <small class="badge badge-danger">{% trans "KO" %}</small>
                        {% elif character.campaign.current_character == character %}
                            <small class="badge badge-info">{% trans "Actif" %}</small>
                        {% elif character.is_resting %}
                            <small class="badge badge-info">{% trans "Repos" %}</small>
                        {% endif %}
                        {{ character.name }}
                        {% if character.title %}
                            <small class="{% if character != current_character %}text-muted{% endif %}">{{ character.title }}</small>
                        {% endif %}
                    </a>
                {% endfor %}
            {% endwith %}
        </div>
    </li>
    {% if campaign %}
        {% if character or dashboard %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'fallout:campaign' campaign.id %}">{% trans "Campagne courante" %}</a>
        </li>
        {% elif authorized %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'fallout:dashboard' campaign.id %}">{% trans "Tableau de bord" %}</a>
        </li>
        {% endif %}
    {% endif %}
</ul>
{% if campaign %}
    <form class="form-inline" method="post" action="{% url 'fallout:next_turn' campaign.id %}">
        <label class="text-white">
            {{ campaign.current_game_date }}
            {% with current=campaign.current_character %}
                {% if current %}
                    (&nbsp;<a class="{% if current.is_player %}text-success{% else %}text-warning{% endif %}"
                        href="{% url 'fallout:character' current.id %}">{{ current }}</a>&nbsp;)
                {% endif %}
            {% endwith %}
        </label>
        {% if authorized %}
            <select class="form-control form-control-sm custom-select custom-select-sm ilarge ml-2 mr-2" name="seconds">
                <option value="0" selected="selected">{% trans "0 s" %}</option>
                <option value="30">{% trans "30 s" %}</option>
                <option value="60">{% trans "1 mn" %}</option>
                <option value="120">{% trans "2 mn" %}</option>
                <option value="300">{% trans "5 mn" %}</option>
                <option value="600">{% trans "10 mn" %}</option>
                <option value="1200">{% trans "20 mn" %}</option>
                <option value="1800">{% trans "30 mn" %}</option>
                <option value="3600">{% trans "1 h" %}</option>
            </select>
            <button class="btn btn-success btn-sm" name="next">{% trans "Tour suivant" %}</button>
            {% if campaign.current_character %}
                <button class="btn btn-warning btn-sm ml-2" name="cancel">{% trans "Annuler" %}</button>
            {% endif %}
            <input type="hidden" name="page" value="{{ request.path }}" />
            {% csrf_token %}
        {% endif %}
        <button type="button" class="btn btn-sm btn-secondary ml-2" data-toggle="modal" data-target="#diceroll"
            title="{% trans "Lancer les dés (CTRL+ESPACE)" %}">{% trans "Dés" %}</button>
    </form>
{% endif %}
