{% extends "admin/base_site.html" %}
{% load i18n %}

{% block content %}
    <h1>{% trans "Faire un jet de compétence" %}</h1>
    <p>{% trans "Les personnages suivants seront affectés :" %}</p>
    <ul>
        {% for character in characters %}
            <li>{{ character }}</li>
        {% endfor %}
    </ul>
    <form action="" method="post">
        {{ form.as_p }}
        {% csrf_token %}
        {% for action in actions %}
            <input type="hidden" name="_selected_action" value="{{ action }}" />
        {% endfor %}
        <input type="hidden" name="action" value="roll" />
        <button type="submit" name="roll">{% trans "Valider" %}</button>
    </form>
{% endblock %}
