{% load i18n l10n tools %}

<div class="row">
    {% for character in characters %}
        <div class="col-xl-3 col-lg-4 col-md-6 col-12 mb-3">
            <div class="card h-100">
                <div class="card-header">
                    <span class="card-title"><a href="{% url 'fallout:character' character.id %}">{{ character.name }}</a></span>
                    {% if character.title %}<small class="card-subtitle mb-2 text-muted">{{ character.title }}</small>{% endif %}
                    <div class="float-right">
                        {% if character.is_player %}
                            <small class="badge badge-success">{% trans "PJ" %}</small>
                        {% else %}
                            <small class="badge badge-warning">{% trans "PNJ" %}</small>
                        {% endif %}
                        <small class="badge badge-light">{% trans "Niveau" %} {{ character.level }}</small>
                        {% if character.health == 0 %}
                            <small class="badge badge-danger">{% trans "KO" %}</small>
                        {% elif campaign.current_character == character %}
                            <small class="badge badge-info">{% trans "Actif" %}</small>
                        {% endif %}
                    </div>
                </div>
                <div class="card-body">
                    {% for s in character.general_stats %}
                        {% with title=character.labels|get:s.code|default:"" %}
                            {% if s.rate is not None and s.code != 'skill_points' %}
                                <strong>{{ s.label }}</strong>
                                <small class="text-muted">{{ s.lvalue|floatformat:0 }} / {{ s.rvalue|floatformat:0 }}</small>
                                <div class="progress">
                                    {% localize off %}
                                    <div class="progress-bar progress-bar-striped bg-{{ s.css }} text-light" role="progressbar"
                                         aria-valuenow="{{ s.lvalue }}" aria-valuemin="0" aria-valuemax="{{ s.rvalue }}"
                                         style="width: {{ s.rate }}%" {% if s.title %}title="{{ s.title }}"{% endif %}
                                         data-toggle="tooltip" data-placement="top">
                                    {% endlocalize %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endwith %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
