{% load i18n l10n custom %}

<form method="post" action="{{ request.path }}">
    {% if authorized and loots %}
    <div class="form-row align-items-center form-inline justify-content-center mb-3">
        <div class="col-auto">
            <div class="input-group mb-2 mb-sm-0">
                <div class="input-group-prepend">
                    <label for="pick-character-list" class="input-group-text">{% trans "Joueur" %}</label>
                </div>
                <select name="character" id="pick-character-list" class="form-control custom-select">
                    {% for character in characters %}
                        <option value="{{ character.id }}">{{ character.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-auto form-check ml-1">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="is_action" checked="checked">
                <span title="{% trans "Points d'action" %}">{% trans "PA" %}</span>
            </label>
        </div>
    </div>
    {% endif %}
    <div class="row">
        {% for loot in loots %}
            {% with item=loot.item %}
                <div class="col-xl-3 col-lg-4 col-md-6 col-12 mb-3">
                    <div class="card h-100">
                        <div class="card-header">
                            {% if loot.quantity > 1 %}
                                <span class="badge badge-dark align-middle">{{ loot.quantity }}</span>
                            {% endif %}
                            <span class="card-title">{{ item.name }}</span>
                            {% if item.title %}<small class="card-subtitle mb-2 text-muted">{{ item.title }}</small>{% endif %}
                        </div>
                        <div class="card-body">
                            {% with image=item.image thumbnail=item.thumbnail %}
                                {% if thumbnail %}
                                    <div class="thumbnail rounded mb-2">
                                        <img class="img-fluid mx-auto d-block rounded" src="{{ MEDIA_URL }}{{ thumbnail }}">
                                    </div>
                                {% elif image %}
                                    <img class="img-fluid mx-auto d-block rounded mb-2" src="{{ image.url }}">
                                {% endif %}
                            {% endwith %}
                            <p class="card-text">
                                <small class="badge badge-primary align-middle">
                                    {{ loot.charge|floatformat:2 }} {% trans "kg" %}
                                </small>
                                <small class="badge badge-warning align-middle">
                                    {{ loot.value|floatformat:2 }} {% trans "$" %}
                                </small>
                                {% for modifier in item.modifiers.all %}
                                    <small class="badge {% if modifier.value > 0 %}badge-success{% else %}badge-danger{% endif %} align-middle">
                                        {% if modifier.value > 0 %}+{% endif %}{{ modifier.value }}
                                        {{ modifier.get_stats_display }}
                                    </small>
                                {% endfor %}
                                {% with condition=loot.current_condition %}
                                    {% if condition %}
                                        <div class="progress">
                                            {% localize off %}
                                            <div role="progressbar" style="width: {{ condition }}%;" aria-valuenow="{{ condition }}"
                                                 aria-valuemin="0" aria-valuemax="100" class="progress-bar
                                                 bg-{% if condition < 25 %}danger{% elif condition < 50 %}warning{% else %}success{% endif %}">
                                            {% endlocalize %}
                                                {{ condition|floatformat:0 }}%
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="progress">
                                            <div role="progressbar" style="width: 100%;" aria-valuenow="100"
                                                 aria-valuemin="0" aria-valuemax="100"
                                                 class="progress-bar progress-bar-striped bg-dark">
                                                {% trans "incassable" %}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endwith %}
                            </p>
                            {% if item.description %}
                                <p class="card-text">
                                    <small class="text-muted">{{ item.description }}</small>
                                </p>
                            {% endif %}
                            {% if authorized and item.label_damage %}
                                <p class="card-text">
                                    <small class="font-weight-bold">{{ item.long_label_damage }}</small>
                                </p>
                            {% endif %}
                            {% with resistances=item.resistances %}
                                {% if authorized and resistances %}
                                    <div class="table-responsive">
                                        <table class="table table-sm mb-0 small">
                                            <thead class="thead-dark">
                                                <tr>
                                                    {% for resistance in resistances %}
                                                        <th scope="col" class="text-center font-weight-bold"
                                                            title="{{ resistance.long_label }}" data-toggle="tooltip" data-placement="bottom">
                                                            {{ resistance.short_label }}
                                                        </th>
                                                    {% endfor %}
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    {% for resistance in resistances %}
                                                        <td class="text-center">
                                                            {{ resistance.threshold }}
                                                        </td>
                                                    {% endfor %}
                                                </tr>
                                                <tr>
                                                    {% for resistance in resistances %}
                                                        <td class="text-center">
                                                            {{ resistance.resistance }}%
                                                        </td>
                                                    {% endfor %}
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                {% endif %}
                            {% endwith %}
                        </div>
                        {% if authorized %}
                            <div class="card-footer">
                                {% if loot.quantity > 1 %}
                                    <label class="sr-only" for="quantity-{{ loot.id }}">{% trans "Quantité" %}</label>
                                    <select name="quantity-{{ loot.id }}" id="quantity-{{ loot.id }}"
                                            class="form-control form-control-sm custom-select ismall mr-1">
                                        {% for i in 0|range:loot.quantity %}
                                            <option value="{{ i }}">{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                {% else %}
                                    <input type="hidden" name="quantity-{{ loot.id }}" value="{{ loot.quantity }}" />
                                {% endif %}
                                <button class="btn btn-sm btn-success mr-1" type="submit"
                                        name="method" value="take-{{ loot.id }}">{% trans "Prendre" %}</button>
                                <button class="btn btn-sm btn-danger mr-1" type="submit"
                                        name="method" value="delete-{{ loot.id }}">{% trans "Détruire" %}</button>
                                <input type="hidden" name="type" value="loot" />
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endwith %}
        {% endfor %}
    </div>
    {% csrf_token %}
</form>
