{% load i18n l10n custom %}

<div class="tab-pane fade" role="tabpanel" id="campaign-effects">
    <div id="campaign-effects-form" class="collapse-form collapse show">
        <div class="col-auto">
            <h6 class="text-nowrap">
                {% trans "Niveau de radioactivité" %}
                <small class="text-muted">{% trans "(en rad/h)" %}</small>
            </h6>
            {% if authorized %}
                <form method="post" action="{{ request.path }}" class="form-inline justify-content-center float-right ml-3">
                    <div class="form-row align-items-center">
                        <div class="col-auto input-group input-group-sm">
                            <input type="number" class="form-control" id="radiation" name="radiation"
                                   placeholder="{% trans "rad/h" %}" value="{{ campaign.radiation }}"
                                   aria-valuemin="0" min="0">
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-sm btn-warning"
                                    name="method" value="set" >{% trans "Modifier" %}</button>
                            <input type="hidden" name="type" value="radiation" />
                            {% csrf_token %}
                        </div>
                    </div>
                </form>
            {% endif %}
            <div class="progress" style="height: 30px">
                <div class="progress-bar"></div>
                {% with rads=campaign.radiation %}
                    {% if rads %}
                        {% localize off %}
                        <div class="progress-bar progress-bar-striped progress-bar-animated text-light bg-{% if rads > 50 %}danger{% elif rads > 20 %}warning{% else %}success{% endif %}"
                             role="progressbar" aria-valuenow="{{ rads }}" aria-valuemin="0" aria-valuemax="{{ rads|max:100 }}"
                             style="width: {{ rads }}%">
                        {% endlocalize %}
                            {{ rads }}
                        </div>
                    {% endif %}
                {% endwith %}
            </div>
        </div>
        {% if authorized %}
            <div class="collapse-form collapse show">
                <hr class="my-1" />
                <form method="post" action="{{ request.path }}" class="form-inline justify-content-center">
                    <div class="form-row align-items-center">
                        <div class="col text-nowrap font-weight-bold">
                            {% trans "Infliger des dégâts :" %}
                        </div>
                        <div class="col-auto">
                            <label class="sr-only" for="damage-group-list">{% trans "Type de personnage" %}</label>
                            <select name="group" id="damage-group-list" class="form-control form-control-sm custom-select custom-select-sm">
                                <option value="pj">{% trans "PJ" %}</option>
                                <option value="pnj">{% trans "PNJ" %}</option>
                                <option value="">{% trans "Tous" %}</option>
                            </select>
                        </div>
                        <div class="col-auto">
                            <label for="damage-type" class="sr-only">{% trans "Type de dégâts" %}</label>
                            <select id="damage-type" name="damage_type" class="form-control form-control-sm custom-select custom-select-sm">
                                {% for group_label, types in damage_types %}
                                    <optgroup label="{{ group_label }}">
                                        {% for code, label in types %}
                                            <option value="{{ code }}">{{ label }}</option>
                                        {% endfor %}
                                    </optgroup>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-auto">
                            <label for="body-part" class="sr-only">{% trans "Partie du corps" %}</label>
                            <select id="body-part" name="body_part" class="form-control form-control-sm custom-select custom-select-sm">
                                <option value="">{% trans "aléatoire" %}</option>
                                {% for code, label in body_parts %}
                                    <option value="{{ code }}">{{ label }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-auto">
                            <input id="min-damage" class="form-control form-control-sm ismall"
                                   type="number" name="min_damage" value="0" min="0" />
                        </div>
                        <div class="col-auto">
                            <span class="font-weight-bold">&minus;</span>
                        </div>
                        <div class="col-auto">
                            <input id="min-damage" class="form-control form-control-sm ismall"
                                   type="number" name="max_damage" value="0" min="0" />
                        </div>
                        <div class="col-auto">
                            <span class="font-weight-bold">&plus;</span>
                        </div>
                        <div class="col-auto">
                            <input id="min-damage" class="form-control form-control-sm ismall"
                                   type="number" name="raw_damage" value="0" min="0" />
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-sm btn-primary"
                                    name="method" value="add" >{% trans "Infliger" %}</button>
                            <input type="hidden" name="type" value="damage" />
                            {% csrf_token %}
                        </div>
                    </div>
                </form>
                {% if all_effects %}
                <hr class="my-1" />
                <form method="post" action="{{ request.path }}" class="form-inline justify-content-center">
                    <div class="form-row align-items-center">
                        <div class="col-auto text-nowrap font-weight-bold">
                            {% trans "Affecter un effet :" %}
                        </div>
                        <div class="col-auto">
                            <label class="sr-only" for="effect-id">{% trans "Effet" %}</label>
                            <select id="effect-id" name="effect-id" class="form-control form-control-sm select2"
                                    data-placeholder="{% trans "Effets" %}">
                                <option></option>
                                {% for effect in all_effects %}
                                    <option value="{{ effect.id }}">
                                        {{ effect.name }}{% if effect.title %} ({{ effect.title }}){% endif %}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-sm btn-primary"
                                    name="method" value="add" >{% trans "Affecter" %}</button>
                            <input type="hidden" name="type" value="effect" />
                            {% csrf_token %}
                        </div>
                    </div>
                </form>
                {% endif %}
            </div>
        {% endif %}
        <hr class="mt-1 mb-3" />
    </div>
    {% with effects=campaign.effects scope='campaign' %}
        {% include "fallout/campaign/forms/effects.html" %}
    {% endwith %}
</div>
