{% load i18n l10n %}

<div class="tab-pane fade" role="tabpanel" id="campaign-infos">
    {% if authorized %}
        <div id="campaign-infos-form" class="collapse-form collapse show">
            <form method="post" action="{{ request.path }}" class="form-inline justify-content-center">
                <div class="form-row align-items-center">
                    <div class="col-auto text-nowrap font-weight-bold">
                        {% trans "Gagner de l'expérience :" %}
                    </div>
                    <div class="col-auto">
                        <label class="sr-only" for="gain-group-list">{% trans "Type de personnage" %}</label>
                        <select name="group" id="gain-group-list" class="form-control form-control-sm custom-select custom-select-sm">
                            <option value="pj">{% trans "PJ" %}</option>
                            <option value="pnj">{% trans "PNJ" %}</option>
                            <option value="">{% trans "Tous" %}</option>
                        </select>
                    </div>
                    <div class="col-auto">
                        <label class="sr-only" for="stats-modifier">{% trans "Expérience" %}</label>
                        <input type="number" class="form-control form-control-sm ismall" id="experience"
                               name="experience" placeholder="{% trans "Expérience" %}" value="0">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-sm btn-primary"
                                name="method" value="gain">{% trans "Gagner" %}</button>
                        <input type="hidden" name="type" value="gain" />
                        {% csrf_token %}
                    </div>
                </div>
            </form>
            {% if campaign %}
                <hr class="my-1" />
                <form method="post" action="{{ request.path }}" class="form-inline justify-content-center">
                    <div class="form-row align-items-center">
                        <div class="col-auto text-nowrap font-weight-bold">
                            {% trans "Avancer dans le temps :" %}
                        </div>
                        <div class="col-auto">
                            <div class="input-group input-group-sm">
                                <input type="number" class="form-control form-control-sm ismall" id="hours" name="hours"
                                       placeholder="{% trans "h" %}" value="0"
                                       aria-valuemin="0" min="0" aria-valuemax="999" max="999">
                                <div class="input-group-append">
                                    <label for="hours" class="input-group-text">{% trans "h" %}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="input-group input-group-sm">
                                <input type="number" class="form-control form-control-sm ismall" id="minutes" name="minutes"
                                       placeholder="{% trans "m" %}" value="0"
                                       aria-valuemin="0" min="0" aria-valuemax="59" max="59">
                                <div class="input-group-append">
                                    <label for="minutes" class="input-group-text">{% trans "m" %}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <label class="form-check-label" title="{% trans "Repos" %}">
                                <input class="form-check-input" type="checkbox" name="resting">
                                {% trans "Repos" %}
                            </label>
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-sm btn-primary"
                                    name="method" value="add">{% trans "Avancer" %}</button>
                            <input type="hidden" name="type" value="time" />
                            {% csrf_token %}
                        </div>
                    </div>
                </form>
                {% if all_npcs %}
                <hr class="my-1" />
                <form method="post" action="{{ request.path }}" class="form-inline justify-content-center">
                    <div class="form-row align-items-center">
                        <div class="col-auto text-nowrap font-weight-bold">
                            {% trans "Ajouter un PNJ :" %}
                        </div>
                        <div class="col-auto">
                            <label class="sr-only" for="npc-id">{% trans "PNJ" %}</label>
                            <select id="character-id" name="character-id" class="form-control form-control-sm select2"
                                    data-placeholder="{% trans "PNJs" %}">
                                <option></option>
                                {% for npc in all_npcs %}
                                    <option value="{{ npc.id }}">
                                        {{ npc.name }} ({% if npc.title %}{{ npc.title }}, {% endif %}{% trans "nv." %} {{ npc.level }})
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-auto">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <label for="item-quantity" class="input-group-text">{% trans "Nombre" %}</label>
                                </div>
                                <input type="number" class="form-control form-control-sm ismall" id="character-number"
                                       name="number" placeholder="{% trans "Nb" %}" value="1"
                                       aria-valuemin="1" min="1">
                            </div>
                        </div>
                        <div class="col-auto">
                            <label class="sr-only" for="character-name">{% trans "Nom du PNJ" %}</label>
                            <input class="form-control form-control-sm" id="character-name" name="name"
                                   placeholder="{% trans "Nom du PNJ" %}" value="">
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-sm btn-primary"
                                    name="method" value="add">{% trans "Ajouter" %}</button>
                            <input type="hidden" name="type" value="npc" />
                            <input type="hidden" name="campaign-id" value="{{ campaign.id }}" />
                            {% csrf_token %}
                        </div>
                    </div>
                </form>
                {% endif %}
            {% endif %}
        </div>
        <hr class="mt-1 mb-3" />
    {% endif %}
    {% include 'fallout/campaign/forms/infos.html' %}
</div>
