{% load i18n humanize %}

<div class="tab-pane fade" role="tabpanel" id="campaign-loots">
    {% if authorized %}
        <div id="campaign-loots-form" class="collapse-form collapse show">
            <form method="post" action="{{ request.path }}" class="form-inline justify-content-center">
                <div class="form-row align-items-center">
                    <div class="col-auto text-nowrap font-weight-bold">
                        {% trans "Modifier l'argent :" %}
                    </div>
                    <div class="col-auto">
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <label for="money-character-list" class="input-group-text">{% trans "Personnage" %}</label>
                            </div>
                            <select name="character-id" id="money-character-list" class="form-control form-control-sm custom-select custom-select-sm">
                                <option value="">({% trans "Campagne" %})</option>
                                {% for character in characters %}
                                    <option value="{{ character.id }}">{{ character.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <label for="money-quantity" class="input-group-text">{% trans "Argent" %}</label>
                            </div>
                            <input type="number" class="form-control form-control-sm imedium" id="money-quantity"
                                   name="money" placeholder="{% trans "¤" %}" value="0" />
                            <div class="input-group-append">
                                <label for="money-quantity" class="input-group-text font-weight-bold alert-warning">
                                    {{ campaign.money|intcomma }} {% trans "¤" %}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-sm btn-primary"
                                name="method" value="change">{% trans "Modifier" %}</button>
                        <input type="hidden" name="type" value="money" />
                        {% csrf_token %}
                    </div>
                </div>
            </form>
            {% if all_loots %}
            <hr class="my-1" />
            <form method="post" action="{{ request.path }}" class="form-inline justify-content-center">
                <div class="form-row align-items-center">
                    <div class="col-auto text-nowrap font-weight-bold">
                        {% trans "Ouvrir un contenant :" %}
                    </div>
                    <div class="col-auto">
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <label for="loot-character-list" class="input-group-text">{% trans "Personnage" %}</label>
                            </div>
                            <select name="character-id" id="loot-character-list" class="form-control form-control-sm custom-select custom-select-sm">
                                <option value="">{% trans "Aucun" %}</option>
                                {% for character in characters %}
                                    <option value="{{ character.id }}">{{ character.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-auto">
                        <label class="sr-only" for="loot-name">{% trans "Butin" %}</label>
                        <select id="loot-id" name="loot-id" class="form-control form-control-sm select2"
                                data-placeholder="{% trans "Butins" %}">
                            <option></option>
                            {% for loot in all_loots %}
                                <option value="{{ loot.id }}">
                                    {{ loot.name }}{% if loot.title %} ({{ loot.title }}){% endif %}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-sm btn-primary"
                                name="method" value="open">{% trans "Ouvrir" %}</button>
                        <input type="hidden" name="type" value="loot" />
                        {% csrf_token %}
                    </div>
                </div>
            </form>
            {% endif %}
            {% if all_items %}
            <hr class="my-1" />
            <form method="post" action="{{ request.path }}" class="form-inline justify-content-center">
                <div class="form-row align-items-center">
                    <div class="col text-nowrap font-weight-bold">
                        {% trans "Ajouter un butin :" %}
                    </div>
                    <div class="col-auto">
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <label for="item-quantity" class="input-group-text">{% trans "Quantité" %}</label>
                            </div>
                            <input type="number" class="form-control form-control-sm ismall" id="item-quantity"
                                   name="quantity" placeholder="{% trans "Qte" %}" value="1"
                                   aria-valuemin="1" min="1">
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <label for="item-condition" class="input-group-text">{% trans "État" %}</label>
                            </div>
                            <input type="number" class="form-control form-control-sm ismall" id="item-condition"
                                   name="condition" placeholder="{% trans "État" %}" value="100"
                                   aria-valuemin="1" min="1" aria-valuemax="100" max="100">
                        </div>
                    </div>
                    <div class="col-auto">
                        <label class="sr-only" for="item-id">{% trans "Objet" %}</label>
                        <select id="item-id" name="item-id" class="form-control form-control-sm select2"
                                data-placeholder="{% trans "Objets" %}">
                            <option></option>
                            {% regroup all_items|dictsort:"type_display" by type_display as all_items_groups %}
                            {% for type, list_items in all_items_groups %}
                                <optgroup label="{{ type|title }}">
                                {% for item in list_items %}
                                    <option value="{{ item.id }}">
                                        {{ item.name }}{% if item.title %} ({{ item.title }}){% endif %}
                                    </option>
                                {% endfor %}
                                </optgroup>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-sm btn-primary"
                            name="method" value="add">{% trans "Ajouter" %}</button>
                        <input type="hidden" name="type" value="loot" />
                        {% csrf_token %}
                    </div>
                </div>
            </form>
            {% endif %}
        </div>
        <hr class="mt-1 mb-3" />
    {% endif %}
    {% with loots=loots %}
        {% include "fallout/campaign/forms/loots.html" %}
    {% endwith %}
</div>
