{% load i18n custom %}

<form method="post" action="{{ request.path }}">
    <table class="table table-sm table-striped">
        <thead class="thead-dark">
            <tr>
                <th class="text-center" colspan="2">{% trans "Personnage" %}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <label for="{{ code }}-health-points" class="d-inline">{% trans "points de vie" %}</label>
                </td>
                <td class="text-right">
                    <select class="form-control form-control-sm" id="{{ code }}-hp" name="hp">
                        {% for i in character.stats.max_health|range:0 %}
                            {% if i == character.health %}
                                <option value="{{ i }}" selected>{{ i }} *</option>
                            {% else %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="{{ code }}-action-points" class="d-inline">{% trans "points d'action" %}</label>
                </td>
                <td class="text-right">
                    <select class="form-control form-control-sm" id="{{ code }}-ap" name="ap">
                        {% for i in character.stats.max_action_points|range:0 %}
                            {% if i == character.action_points %}
                                <option value="{{ i }}" selected>{{ i }} *</option>
                            {% else %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </td>
            </tr>
        </tbody>
        <tfoot class="thead-dark">
            <tr>
                <th class="text-right" colspan="2">
                    <button class="btn btn-sm btn-primary" type="submit"
                            name="method" value="set">{% trans "OK" %}</button>
                </th>
            </tr>
        </tfoot>
    </table>
    <input type="hidden" name="type" value="action" />
    {% csrf_token %}
</form>
