{% load i18n %}

<form method="post" action="{{ request.path }}">
    <table class="table table-sm table-striped">
        <thead class="thead-dark">
            <tr>
                <th class="text-center" colspan="2">{% trans "Dégâts" %}</th>
            </tr>
        </thead>
        <tbody>
            {% if multiple %}
                {% for character in characters %}
                    <tr class="check-control">
                        <td>
                            <label class="form-check-label" class="d-inline">
                                <input class="form-check-input" type="checkbox"
                                       name="characters" value="{{ character.id }}">
                                {{ character.name }}
                            </label>
                        </td>
                        <td class="text-right">
                            <input class="form-control form-control-sm tiny" type="number"
                                   name="range" value="1" disabled />
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            <tr>
                <td colspan="2">
                    <select class="form-control form-control-sm" id="{{ code }}-damage-type"
                            name="damage_type">
                        {% for code, label in damage_types %}
                            <option value="{{ code }}">{{ label }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="{{ code }}-raw-damage" class="d-inline">{% trans "valeur fixe" %}</label>
                </td>
                <td class="text-right">
                    <input id="{{ code }}-raw-damage" class="form-control form-control-sm tiny"
                           type="number" name="raw_damage" value="0" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="{{ code }}-dice-count" class="d-inline">{% trans "nombre de dés" %}</label>
                </td>
                <td class="text-right">
                    <input id="{{ code }}-dice-count" class="form-control form-control-sm tiny"
                           type="number" name="dice_count" value="0" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="{{ code }}-dice-value" class="d-inline">{% trans "valeur de dé" %}</label>
                </td>
                <td class="text-right">
                    <input for="{{ code }}-dice-value" class="form-control form-control-sm tiny"
                           type="number" name="dice_value" value="0" />
                </td>
            </tr>
        </tbody>
        <tfoot class="thead-dark">
            <tr>
                <th class="text-right" colspan="2">
                    <button class="btn btn-sm btn-primary" type="submit">{% trans "OK" %}</button>
                </th>
            </tr>
        </tfoot>
    </table>
    <input type="hidden" name="type" value="damage" />
    {% csrf_token %}
</form>
