{% load i18n tools %}

<form method="post" action="{{ request.path }}">
    <table class="table table-sm table-striped">
        <thead class="thead-dark">
            <th class="text-center" colspan="2">{{ label }}</th>
        </thead>
        <tbody>
            {% if not view or not authorized %}
                <tr>
                    <td>
                        <label for="{{ code }}-modifier" class="d-inline">{% trans "modificateur" %}</label>
                    </td>
                    <td class="text-right">
                        <input id="{{ code }}-modifier" class="form-control form-control-sm itiny"
                               type="number" name="modifier" value="" />
                    </td>
                </tr>
            {% endif %}
            {% for s in stats %}
                <tr>
                    <td>{{ s.1 }}</td>
                    <td class="text-right">
                        {% if view or not authorized %}
                            <strong class="text-{{ s.4 }}" title="{{ character.labels|get:s.0|default:"" }}" data-toggle="tooltip" data-placement="top">
                                {{ s.2|floatformat:0 }}{% if s.3 is not None %}&nbsp;/&nbsp;{{ s.3|floatformat:0 }}{% endif %}
                            </strong>
                        {% elif authorized %}
                            <button class="btn btn-sm btn-{{ s.4 }} itiny" type="submit" name="stats" value="{{ s.0 }}">
                                <strong>{{ s.2|floatformat:0 }}</strong>
                            </button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if not view %}
        <input type="hidden" name="type" value="roll" />
        {% csrf_token %}
    {% endif %}
</form>
