{% load i18n %}

<div class="tab-pane fade" id="effects" role="tabpanel">
    {% if authorized %}
        <form method="post" action="{{ request.path }}" class="form-inline justify-content-center">
            <div class="form-row align-items-center">
                <div class="col-auto">
                    <label class="sr-only" for="effect-name">{% trans "Effet" %}</label>
                    <input type="text" class="form-control mb-2 mb-sm-0" id="item-name"
                           item="effect" placeholder="{% trans "Effet" %}">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">{% trans "Affecter" %}</button>
                    <input type="hidden" name="method" value="add" />
                    <input type="hidden" name="type" value="effect" />
                    {% csrf_token %}
                </div>
            </div>
        </form>
        <hr />
    {% endif %}
    {% if campaign_effects %}
        <h4 class="text-center mb-3">{% trans "Général" %}</h4>
        {% with effects=campaign_effects %}
            {% include "fallout/character/forms/effects.html" %}
        {% endwith %}
        <hr />
    {% endif %}
    <h4 class="text-center mb-3">{% trans "Personnage" %}</h4>
    {% with effects=character_effects %}
        {% include "fallout/character/forms/effects.html" %}
    {% endwith %}
</div>
