{% load i18n l10n %}

<div class="tab-pane fade{% if 'infos' in request.GET %} active show{% endif %}" id="infos" role="tabpanel">
    <div class="row">
        <div class="col">
            <ul class="list-group"></ul>
            {% for roll in rollstats %}
                <li class="list-group-item">
                    <h6>
                        {{ roll.label }}
                        <small class="text-muted">{% blocktrans %}{{ roll.count }} jet(s){% endblocktrans %}</small>
                    </h6>
                    <div class="progress">
                        <div class="progress-bar"></div>
                        {% for value, class in roll.all %}
                            {% if value %}
                                {% localize off %}
                                <div class="progress-bar progress-bar-striped bg-{{ class }}" role="progressbar"
                                     aria-valuenow="{{ value }}" aria-valuemin="0" aria-valuemax="0"
                                     style="width: {{ value }}%">
                                {% endlocalize %}
                                    {{ value|floatformat:0 }}%
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </li>
            {% endfor %}
        </div>
    </div>
</div>
