{% load i18n %}

<div class="tab-pane fade{% if 'items' in request.GET %} active show{% endif %}" id="items" role="tabpanel">
    {% if equipment %}
        <h4>{% trans "Equipement" %}</h4>
        {% with items=equipment equiped=True %}
            {% include "fallout/character/items.html" %}
        {% endwith %}
        <hr />
    {% endif %}
    {% if inventory %}
        <h4>{% trans "Inventaire" %}</h4>
        {% with items=inventory equiped=False %}
            {% include "fallout/character/items.html" %}
        {% endwith %}
    {% endif %}
</div>
