{% extends "fallout/base.html" %}
{% load i18n %}

{% block navbar %}
    {% with campaign=character.campaign %}
        {% include "fallout/navbar.html" %}
    {% endwith %}
{% endblock %}

{% block actions %}
    <a class="dropdown-item" href="{% url 'admin:fallout_character_add' %}?campaign={{ character.campaign_id }}">{% trans "Ajouter un personnage" %}</a>
    {% if character %}
        <a class="dropdown-item" href="{% url 'admin:fallout_character_change' character.id %}">{% trans "Modifier le personnage" %}</a>
    {% endif %}
{% endblock %}

{% block content %}
    {% if character %}
        <div class="content">
            {% with image=character.image thumbnail=character.thumbnail %}
                {% if thumbnail %}
                    <img class="float-left rounded mr-2" height="120" width="120" src="{{ thumbnail }}">
                {% elif image %}
                    <img class="float-left rounded mr-2" height="120" width="120" src="{{ image.url }}">
                {% endif %}
            {% endwith %}
            <h4 class="display-4">
                {{ character.name }}
                {% if character.title %}<small class="text-muted">{{ character.title }}</small>{% endif %}
            </h4>
            <p class="lead">
                {% if not character.is_player %}
                    <span class="badge badge-info">{% trans "PNJ" %}</span>
                {% else %}
                    <span class="badge badge-warning">{% trans "PJ" %}</span>
                {% endif %}
                {% if character.health == 0 %}
                    <span class="badge badge-danger">{% trans "KO" %}</span>
                {% elif character.campaign.current_character == character %}
                    <span class="badge badge-success">{% trans "Actif" %}</span>
                {% endif %}
                <span class="font-weight-bold">{% trans "Niveau" %} {{ character.level }}</span>
                {% if character.description %} {{ character.description }}{% endif %}
            </p>
        </div>
        <div role="tabpanel" id="tabs">
            <ul class="nav nav-pills nav-fill nav-justified pt-3 tab" id="character-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" role="tab"
                       href="#character-stats" id="character-stats-tab">{% trans "Personnage" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" role="tab"
                       href="#character-items" id="character-items-tab">{% trans "Inventaire" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" role="tab"
                       href="#character-effects" id="character-effects-tab">{% trans "Effets" %}</a>
                </li>
                {% if authorized %}
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" role="tab"
                           href="#character-actions" id="character-actions-tab">{% trans "Actions" %}</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" role="tab"
                       href="#character-infos" id="character-infos-tab">{% trans "Statistiques" %}</a>
                </li>
            </ul>
            <div class="tab-content">
                {% include "fallout/character/panels/stats.html" %}
                {% include "fallout/character/panels/items.html" %}
                {% include "fallout/character/panels/effects.html" %}
                {% include "fallout/character/panels/actions.html" %}
                {% include "fallout/character/panels/infos.html" %}
            </div>
        </div>
    {% endif %}
{% endblock %}
